# Úvod a Prehľad

# 🐍 Kurz Apache Spark - Python

**🧑‍🏫 Lektor:** Miroslav Reiter  
**📥 LinkedIn kontakt:** https://www.linkedin.com/in/miroslav-reiter/  

**✅ Osnova:** https://eurocc.nscc.sk/it-kurzy/
1. Úvod do Apache Spark a veľkých dát  
• Čo sú veľké dáta: základné koncepty a význam  
• Apache Spark: architektúra a kľúčové vlastnosti (RDD, DAG, paralelizmus)  
• Inštalácia a nastavenie prostredia (lokálny mód)  
• Porovnanie Spark s inými nástrojmi (Hadoop MapReduce)  
2. Práca s RDD a DataFrame  
• Vytváranie a transformácie RDD (map, filter, reduce)  
• Úvod do DataFrames: výhody oproti RDD  
• Operácie nad DataFrames (select, filter, groupBy, agg)  
• Základná práca s dátami: načítanie a ukladanie (CSV, JSON)  
3. Spracovanie dát v Spark SQL  
• Vytvorenie a použitie tabuľky v Spark SQL  
• Spúšťanie SQL dopytov na veľkých dátach  

**🎞️ YouTube videá:** https://www.youtube.com/@VITA-Academy  
**📇 Zdrojové kódy a materiály:** https://github.com/miroslav-reiter/Kurzy_DataScience_Python_BI_AI_ML/

**😊 Emojis:** Win + .

## ✅ Odporúčané doplnenia pre Apache Spark:

- ✅ Nainštalovať Apache Spark a Java (odporúča sa Java 21 alebo 17)
- ✅ Overiť, že je správne nastavená premenná prostredia `JAVA_HOME`
- ✅ Mať nainštalovaný balík PySpark (`pip install pyspark`)
- ✅ Používať Jupyter Notebook alebo VS Code ako vývojové prostredie
- ✅ Mať k dispozícii aspoň 4-6 GB RAM – Spark pracuje v pamäti
- ✅ Pripraviť si testovacie súbory CSV/JSON/Parquet s aspoň 10 000 riadkami
- ✅ Overiť prístup k Spark UI (zvyčajne na http://localhost:4040)
- ✅ Nainštalovať ovládače pre pripojenie k databázam (napr. PostgreSQL JDBC driver)
- ✅ Nainštalovať knižnice pre export/import do Excelu a Parquet (`openpyxl`, `pyarrow`)
- ✅ Mať základné znalosti práce s terminálom (napr. spúšťanie Spark aplikácií)

# 🔍 Top knižnice pre prácu s Big Data (Veľkými Dátami) v Pythone
1. **🔥 PySpark**: Oficiálne Python API pre Apache Spark. Umožňuje prácu s RDD, DataFrame, SQL, MLlib a ďalšími komponentmi v jazyku Python. Základný nástroj pre každého Spark vývojára v Pythone.  
   🔗 https://spark.apache.org/docs/latest/api/python/

2. **📦 Delta Lake**: Open-source úložná vrstva nad Apache Spark pre ACID transakcie, verzovanie dát a zjednotenie streamovania s dávkami. Veľmi obľúbené na platformách ako Databricks.  
   🔗 https://delta.io/

3. **📊 Spark SQL**: Modul na spracovanie štruktúrovaných údajov pomocou SQL syntaxe a DataFrame API. Podporuje integráciu s Hive, JDBC, Parquet, Avro, ORC a ďalšími formátmi.  
   🔗 https://spark.apache.org/sql/

4. **🧠 MLlib**: Spark knižnica pre strojové učenie. Obsahuje algoritmy pre klasifikáciu, regresiu, klastrovanie, PCA, aj nástroje na normalizáciu a prácu s trénovacími sadami.  
   🔗 https://spark.apache.org/mllib/

5. **🌊 Structured Streaming**: Moderný engine pre spracovanie dát v reálnom čase pomocou DataFrame API. Zjednocuje dávkové a prúdové výpočty s rovnakým kódom.  
   🔗 https://spark.apache.org/structured-streaming/

6. **📈 GraphFrames**: Knižnica pre spracovanie grafových údajov na Spark DataFrames (náhrada GraphX pre PySpark). Vhodná pre sieťové analýzy, algoritmy ako PageRank, BFS a pod.  
   🔗 https://graphframes.github.io/

7. **🧮 Koalas (→ pyspark.pandas)**: Knižnica, ktorá umožňuje používať Pandas syntax nad Spark DataFrames. Vhodné na portovanie klasických Pandas kódov do škálovateľného prostredia.  
   🔗 https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html

8. **📉 SparkR**: R API pre Apache Spark. Umožňuje používateľom jazyka R využívať distribuované spracovanie Spark pri analýze dát a modelovaní.  
   🔗 https://spark.apache.org/docs/latest/sparkr.html

9. **🔌 Hadoop InputFormat + HDFS konektory**: Spark dokáže používať knižnice pre čítanie a zápis údajov priamo z HDFS, Hive, Cassandra, JDBC, S3 a ďalších systémov.  
   🔗 https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

10. **🌐 Apache Arrow**: Optimalizovaný formát pre výmenu údajov medzi Spark a Pandas (alebo inými nástrojmi ako R, Dask, Vaex). Zrýchľuje výmenu veľkých dátových blokov medzi procesmi.  
    🔗 https://arrow.apache.org/

## 🔧 Čo je Apache Spark?

- Apache Spark je **distribuovaná výpočtová platforma** určená na spracovanie veľkých dát (Big Data).
- Umožňuje **rýchle výpočty v pamäti** (in-memory computing), čím výrazne zrýchľuje analýzu oproti klasickému diskovému spracovaniu ako v Hadoop MapReduce.
- Využíva paralelné výpočty na viacerých uzloch (alebo jadrách CPU), čím škáluje výpočty pre veľké objemy údajov.
- Spark podporuje niekoľko vysokúrovňových API (napr. Python, Java, Scala, R) a poskytuje špecializované komponenty ako:
  - **Spark SQL** – na dotazy podobné SQL,
  - **Spark Streaming** – pre spracovanie reálnych dátových tokov,
  - **MLlib** – na strojové učenie,
  - **GraphX** – pre prácu s grafmi.

👨‍💻 Autor: Matei Zaharia  
🏢 Miesto: Kalifornia, USA (AMPlab, UC Berkeley) – 2009  
📜 Licencia: Open Source (Apache License 2.0)  
🧑‍💻 Implementácia: Scala (s rozhraniami pre Java, Python, R, SQL)

---

### 👨‍💻 Príklady použitia

**📊 Príklad 1:** Analýza miliónov transakcií v reálnom čase  
- Finančná spoločnosť používa Spark Streaming na sledovanie podvodných transakcií.  
- Dáta prichádzajú z bankomatov, terminálov a mobilných aplikácií.  
- Spark v reálnom čase aplikuje pravidlá a modely strojového učenia.  
- **Výhoda:** vysoká rýchlosť a nízka latencia oproti dávkovému spracovaniu.

**🧬 Príklad 2:** Biomedicínske výpočty v genetike  
- Výskumníci používajú Spark na spracovanie sekvenčných dát z DNA a RNA.  
- Obrovské objemy údajov sa paralelne spracúvajú cez Spark cluster.  
- **Výhoda:** skrátenie analýzy zo dní na hodiny.

**🛒 Príklad 3:** Odporúčacie systémy pre e-shopy  
- Spark MLlib využíva historické dáta zákazníkov na vytváranie personalizovaných odporúčaní.  
- Kombinácia transakcií, správania používateľov a externých dát.  
- **Výhoda:** vysoká prispôsobivosť a škálovateľnosť pre milióny používateľov.

---

### Hlavné vlastnosti Apache Spark

1. **⚡ Rýchlosť** – výpočty v pamäti (RAM) sú až 100x rýchlejšie než v Hadoop MapReduce  
2. **🧠 Jednoduché API** – podpora jazykov Python (PySpark), Scala, Java, R – pre vývojárov aj analytikov  
3. **🔁 Podpora dávkového aj prúdového spracovania** – možnosť kombinovať batch aj streaming úlohy  
4. **🔌 Integrácia** – Spark dokáže pracovať s HDFS, S3, PostgreSQL, Cassandra, Kafka a ďalšími zdrojmi  
5. **🧱 Modulárna architektúra** – komponenty ako Spark SQL, MLlib, GraphX, Streaming možno používať samostatne alebo kombinovať  
6. **📚 Ekosystém a open-source komunita** – široká podpora nástrojov, knižníc a integrácií  
7. **⚙️ Škálovateľnosť** – Spark funguje lokálne aj na distribuovaných clustroch (napr. AWS EMR, Databricks)

# 🧩 Hlavné komponenty Apache Spark

**🔥 Spark Core** (základný engine)  
- Zabezpečuje distribúciu úloh, plánovanie výpočtov a správu pamäte.  
- Obsahuje abstrakciu RDD (Resilient Distributed Dataset) – základný dátový typ pre paralelné výpočty.  
- Všetky ostatné moduly (SQL, MLlib, Streaming) sú postavené na Spark Core.

**🧮 Spark SQL** (práca so štruktúrovanými dátami)  
- Umožňuje používať SQL dotazy a operácie nad DataFrames a Datasets.  
- Podporuje optimalizáciu dotazov cez Catalyst engine a spracovanie dát cez Tungsten engine.  
- Integruje sa s Hive, Parquet, JSON, CSV, JDBC a ďalšími zdrojmi.

**🧠 MLlib** (strojové učenie)  
- Modul pre spracovanie dát a modelovanie pomocou klasifikácie, regresie, klastrovania a redukcie dimenzií.  
- Poskytuje nástroje na feature extraction, normalizáciu, pipeline a model evaluation.  
- Funguje plne distribuovane – trénovanie modelov pre veľké objemy dát.

**🌊 Structured Streaming**  
- Modul pre spracovanie streamovaných dát v reálnom čase cez DataFrame API.  
- Umožňuje rovnaký kód pre dávkové aj prúdové úlohy.  
- Podporuje zdroje ako Kafka, socket, súborový systém a rôzne sinky (console, memory, files, JDBC).

**📊 GraphX / GraphFrames** (práca s grafmi)  
- GraphX (pre Scala/Java) a GraphFrames (pre Python) slúžia na modelovanie a analýzu dátových grafov.  
- Obsahujú algoritmy ako PageRank, Breadth-First Search, Connected Components.  
- Vhodné pre analýzu sociálnych sietí, odporúčacie systémy, hierarchie a siete.

**🧱 SparkR a pandas-on-Spark**  
- SparkR umožňuje používateľom jazyka R pracovať s DataFrames cez rozhranie podobné dplyr.  
- pandas-on-Spark (bývalý Koalas) prináša Pandas API pre veľké dáta – beží na Spark engini.  
- Umožňujú jednoduchý prechod z lokálnych skriptov na distribuované výpočty.

# 📚 PIP, Knižnice a ich verzie 
**PIP (package installer for Python)** - Správca Balíčkov pre moduly programovacieho jazyka Python, Tiež napísaný v Pythone, Licencia MIT.  
Dokumentácia PIP: https://pip.pypa.io/en/stable/

**PyPI (The Python Package Index)** - Repozitár/úložisko softvéru pre programovací jazyk Python  
https://pypi.org
1

In [9]:
# !pip list

!pip install pyspark

Requirement already satisfied: pyspark in /opt/python/envs/default_3_11/lib/python3.11/site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /opt/python/envs/default_3_11/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [1]:
!pip list
#!pip freeze

Package                       Version
----------------------------- ------------
absl-py                       2.2.2
alabaster                     1.0.0
annotated-types               0.7.0
anyio                         3.7.1
argon2-cffi                   23.1.0
argon2-cffi-bindings          21.2.0
asttokens                     3.0.0
astunparse                    1.6.3
attrs                         25.3.0
babel                         2.17.0
beautifulsoup4                4.13.4
bleach                        6.2.0
blis                          1.1.0
bokeh                         3.7.2
boto3                         1.37.34
botocore                      1.37.38
catalogue                     2.0.10
certifi                       2025.1.31
cffi                          1.17.1
charset-normalizer            3.4.1
click                         8.1.8
click-plugins                 1.1.1
cligj                         0.7.2
cloudpathlib                  0.21.0
comm                          0.2.2
confection                    0.1.5
contourpy                     1.3.2
cycler                        0.12.1
cymem                         2.0.11
debugpy                       1.8.14
decorator                     5.2.1
defusedxml                    0.7.1
descartes                     1.1.0
docutils                      0.21.2
duckdb                        1.2.2
executing                     2.2.0
fastai                        2.7.19
fastcore                      1.7.29
fastdownload                  0.0.7
fastjsonschema                2.21.1
fastprogress                  1.0.3
filelock                      3.18.0
fiona                         1.10.1
flatbuffers                   25.2.10
fonttools                     4.57.0
fsspec                        2025.3.2
gast                          0.6.0
gensim                        4.3.3
geopandas                     1.0.1
google-pasta                  0.2.0
greenlet                      3.2.1
grpcio                        1.71.0
h5py                          3.13.0
huggingface-hub               0.30.2
idna                          3.10
imageio                       2.37.0
imagesize                     1.4.1
ipykernel                     6.29.5
ipython                       9.0.2
ipython-genutils              0.2.0
ipython_pygments_lexers       1.1.1
ipywidgets                    7.8.5
jedi                          0.19.2
Jinja2                        3.1.6
jmespath                      1.0.1
joblib                        1.4.2
jsonschema                    4.23.0
jsonschema-specifications     2025.4.1
jupyter-client                6.1.12
jupyter_core                  5.7.2
jupyter-server                1.24.0
jupyterlab_pygments           0.3.0
jupyterlab_widgets            1.1.11
keras                         3.9.2
kiwisolver                    1.4.8
kotlin-jupyter-kernel         0.12.0.322
langcodes                     3.5.0
language_data                 1.3.0
lazy_loader                   0.4
lets-plot                     4.6.2
libclang                      18.1.1
lxml                          5.3.2
marisa-trie                   1.2.1
Markdown                      3.8
markdown-it-py                3.0.0
MarkupSafe                    3.0.2
matplotlib                    3.10.1
matplotlib-inline             0.1.7
mdurl                         0.1.2
mistune                       3.1.3
ml_dtypes                     0.5.1
mpmath                        1.3.0
murmurhash                    1.0.12
namex                         0.0.9
narwhals                      1.36.0
nbclassic                     1.3.0
nbclient                      0.10.2
nbconvert                     7.16.6
nbformat                      5.10.4
nest-asyncio                  1.6.0
networkx                      3.4.2
notebook                      6.5.7
notebook_shim                 0.2.4
numpy                         1.26.4
numpydoc                      1.8.0
nvidia-nccl-cu12              2.26.2.post1
opencv-python-headless        4.11.0.86
opt_einsum                    3.4.0
optree                        0.15.0
packaging                     25.0
palettable                    3.3.3
pandas                        2.2.3
pandas-datareader             0.10.0
pandocfilters                 1.5.1
parso                         0.8.4
patsy                         1.0.1
pexpect                       4.9.0
pillow                        11.2.1
pip                           25.0.1
platformdirs                  4.3.7
plotly                        6.0.1
polars                        1.27.1
preshed                       3.0.9
prometheus_client             0.21.1
prompt_toolkit                3.0.51
protobuf                      4.25.5
psutil                        7.0.0
psycopg2-binary               2.9.10
ptyprocess                    0.7.0
pure_eval                     0.2.3
py4j                          0.10.9.7
pyarrow                       19.0.1
pycparser                     2.22
pydantic                      2.11.3
pydantic_core                 2.33.1
Pygments                      2.19.1
PyMySQL                       1.1.1
pyogrio                       0.10.0
pyparsing                     3.2.3
pypng                         0.20220715.0
pyproj                        3.7.1
pyspark                       3.5.4
python-dateutil               2.9.0.post0
pytz                          2025.2
PyYAML                        6.0.2
pyzmq                         26.4.0
referencing                   0.36.2
regex                         2024.11.6
requests                      2.32.3
rich                          14.0.0
roman-numerals-py             3.1.0
rpds-py                       0.24.0
s3transfer                    0.11.5
safetensors                   0.5.3
scikit-image                  0.25.2
scikit-learn                  1.6.1
scipy                         1.13.1
seaborn                       0.13.2
Send2Trash                    1.8.3
setuptools                    79.0.1
shapely                       2.1.0
shellingham                   1.5.4
six                           1.17.0
smart-open                    7.1.0
sniffio                       1.3.1
snowballstemmer               2.2.0
soupsieve                     2.7
spacy                         3.8.3
spacy-legacy                  3.0.12
spacy-loggers                 1.0.5
Sphinx                        8.2.3
sphinxcontrib-applehelp       2.0.0
sphinxcontrib-devhelp         2.0.0
sphinxcontrib-htmlhelp        2.1.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          2.0.0
sphinxcontrib-serializinghtml 2.0.0
SQLAlchemy                    2.0.40
srsly                         2.5.1
stack-data                    0.6.3
statsmodels                   0.14.4
sympy                         1.13.1
tabulate                      0.9.0
tensorboard                   2.19.0
tensorboard-data-server       0.7.2
tensorflow_cpu                2.19.0
tensorflow-io-gcs-filesystem  0.37.1
termcolor                     3.0.1
terminado                     0.18.1
thinc                         8.3.3
threadpoolctl                 3.6.0
tifffile                      2025.3.30
tinycss2                      1.4.0
tokenizers                    0.21.1
torch                         2.6.0+cpu
torchaudio                    2.6.0+cpu
torchvision                   0.21.0+cpu
tornado                       6.4.2
tqdm                          4.67.1
traitlets                     5.14.3
transformers                  4.51.3
typer                         0.15.2
typing_extensions             4.13.2
typing-inspection             0.4.0
tzdata                        2025.2
urllib3                       2.4.0
wasabi                        1.1.3
wcwidth                       0.2.13
weasel                        0.4.1
webencodings                  0.5.1
websocket-client              1.8.0
Werkzeug                      3.1.3
wheel                         0.45.1
widgetsnbextension            3.6.10
wrapt                         1.17.2
xgboost                       3.0.0
xlrd                          2.0.1
xyzservices                   2025.4.0

## 1️⃣a Overenie verzie a hlavných komponentov knižnice PySpark
**📌 Úloha:** Overiť verziu knižnice pyspark a zobraziť jej hlavné komponenty (triedy, funkcie a moduly).

- Tento krok slúži na kontrolu prostredia pred prácou so Spark.
- Umožňuje preskúmať základné triedy, moduly a nástroje knižnice ako SparkSession, RDD, sql.

**✅ Výstupom bude:**
- verzia knižnice PySpark
- výpis hlavných komponentov (moduly, triedy, funkcie)(dir(fastapi))

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/api/python/
- https://spark.apache.org/docs/latest/sql-programming-guide.html

In [2]:
# ! pip install pyspark
# Overenie verzie a hlavných súčastí PySpark
import pyspark

# Zobrazenie verzie
print(f"Verzia knižnice PySpark: {pyspark.__version__}")

# Zoznam hlavných modulov a tried
print("\nDostupné atribúty a moduly v knižnici fastapi:\n")
print(dir(pyspark))

Verzia knižnice PySpark: 3.5.4

Dostupné atribúty a moduly v knižnici fastapi:

['Accumulator', 'AccumulatorParam', 'Any', 'BarrierTaskContext', 'BarrierTaskInfo', 'BasicProfiler', 'Broadcast', 'CPickleSerializer', 'Callable', 'HiveContext', 'InheritableThread', 'MarshalSerializer', 'Optional', 'Profiler', 'RDD', 'RDDBarrier', 'Row', 'SQLContext', 'SparkConf', 'SparkContext', 'SparkFiles', 'SparkJobInfo', 'SparkStageInfo', 'StatusTracker', 'StorageLevel', 'TaskContext', 'TypeVar', 'Union', '_F', '_NoValue', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_globals', 'accumulators', 'broadcast', 'cast', 'cloudpickle', 'conf', 'context', 'copy_func', 'errors', 'files', 'filterwarnings', 'find_spark_home', 'inheritable_thread_target', 'java_gateway', 'join', 'keyword_only', 'profiler', 'rdd', 'rddsampler', 'resource', 'resultiterable', 'serializers', 'shuffle', 'since', 'sql', 'statcounter', 'status', 'storagelevel', 'taskcontext', 'traceback_utils', 'types', 'util', 'version', 'wraps']

### 🧩 Hlavné komponenty a triedy PySpark

| Názov               | Vysvetlenie                                                                 |
|---------------------|------------------------------------------------------------------------------|
| **SparkContext**    | Hlavná vstupná brána do Spark funkcionality. Inicializuje RDD a konfigurácie. |
| **SparkConf**       | Trieda na konfiguráciu Spark aplikácie (napr. názov, počet jadier, pamäť).  |
| **RDD**             | Resilient Distributed Dataset – základná dátová štruktúra v Sparku.         |
| **Row**             | Štruktúrovaný záznam pre DataFrame podobný záznamu/tabuľkovému riadku.      |
| **SQLContext**      | Kontext pre Spark SQL a DataFrame API (predchodca SparkSession).            |
| **HiveContext**     | Rozšírenie SQLContext pre Hive dotazy a integráciu s Hive tabuľkami.        |
| **SparkFiles**      | Umožňuje pristupovať k súborom distribuovaným v Spark clustri.              |
| **Broadcast**       | Mechanizmus pre efektívne zdieľanie premenných medzi uzlami (read-only).    |
| **Accumulator**     | Premenné pre paralelné agregácie naprieč výpočtami (len na pridávanie hodnôt). |
| **StorageLevel**    | Určuje úroveň ukladania RDD do pamäte alebo na disk (napr. MEMORY_ONLY).    |
| **TaskContext**     | Poskytuje informácie o aktuálnej úlohe – napr. identifikátor partície.      |
| **BarrierTaskContext** | Kontext pre synchronizované výpočty v rámci „barrier execution mode“.     |
| **RDDBarrier**      | RDD s podporou synchronizácie výpočtov v rámci clustera.                    |

---

### 🧪 Profiler, serializácia a laditeľné nástroje

| Názov                                | Vysvetlenie                                                       |
|--------------------------------------|--------------------------------------------------------------------|
| **Profiler**, **BasicProfiler**      | Nástroje na profilovanie a meranie výkonu Spark výpočtov.         |
| **CPickleSerializer**, **MarshalSerializer** | Serializácia objektov medzi Pythonom a JVM.                 |
| **cloudpickle**, **serializers**     | Modul pre pokročilú serializáciu tried a funkcií.                 |
| **broadcast**, **accumulators**      | Implementácie pre zdieľanie a agregovanie premenných.             |

---

### 🧠 Typy, pomocné triedy a metadáta

| Názov                                        | Vysvetlenie                                          |
|----------------------------------------------|-------------------------------------------------------|
| **TypeVar**, **Union**, **Optional**, **Callable**, **Any** | Typové aliasy z `typing` pre anotácie.        |
| **_F**, **_NoValue**                          | Interné pomocné konštanty pre voliteľné parametre.    |
| **version**                                   | Aktuálna verzia knižnice PySpark.                    |

---

### 📦 Podmoduly a nástroje

| Názov               | Vysvetlenie                                                                 |
|---------------------|------------------------------------------------------------------------------|
| **sql**             | Podmodul pre Spark SQL, DataFrame, SparkSession.                            |
| **rdd**             | Modul s nástrojmi pre prácu s RDD.                                           |
| **types**           | Definície dátových typov ako `IntegerType`, `StringType` pre DataFrame.     |
| **context**, **conf** | Pomocné triedy pre konfiguráciu a kontext.                                 |
| **shuffle**, **resource** | Nástroje pre spracovanie zdrojov a miešanie dát.                       |
| **status**, **statcounter** | Monitoring výpočtov, zber štatistík počas spracovania.             |
| **traceback_utils** | Pomocné nástroje na ladenie chýb.                                           |
| **files**           | Distribúcia a správa súborov medzi uzlami Spark clustra.                    |
| **java_gateway**    | Brána na komunikáciu medzi Python a JVM.                                    |

---

### 🧰 Interné a špeciálne Python položky

| Názov                        | Vysvetlenie                                                       |
|-----------------------------|--------------------------------------------------------------------|
| **all**, **doc**, **file**  | Meta-informácie o module (dokumentácia, súbor, názov).            |
| **builtins**                | Vstavané Python funkcie dostupné v danom module.                  |
| **name**, **package**, **path** | Identifikácia balíčka/modulu.                                 |

## 1️⃣b Inicializácia SparkSession (lokálny mód)
**📌 Úloha:** Spustiť SparkSession v lokálnom režime (local[*]) a overiť úspešné vytvorenie prostredia.

- SparkSession je vstupný bod pre prácu s DataFrame a SQL.
- local[*] spustí Spark s využitím všetkých dostupných jadier CPU.
- Spark predvolene zobrazuje len varovania (WARN) a vyššie.

**✅ Výstupom bude:**
- aktívna inštancia SparkSession
- potvrdenie nastavenia režimu „lokálne“

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.html

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Uvod do Big Data") \
    .master("local[*]") \
    .getOrCreate()

#  Spark predvolene zobrazuje len varovania (WARN) a vyššie. 
# Môžete si upraviť úroveň logovania:
# spark.sparkContext.setLogLevel("ERROR")  # zobrazí len chyby

print("✅ SparkSession inicializovaná:")
print(spark)

✅ SparkSession inicializovaná:
<pyspark.sql.session.SparkSession object at 0x79d7b7f54750>

### ⚙️ SparkConf – konfigurácia Spark aplikácie
**📌 Použitie:** Pri definovaní názvu aplikácie, počtu jadier (local[2], yarn, spark://...) alebo vlastných parametrov (.set("spark.executor.memory", "4g")).

**📝 Vysvetlenie:** Toto je základné nastavenie prostredia pre Spark. local[2] znamená, že použijeme 2 jadrá na lokálnom stroji. SparkContext je hlavný vstupný bod do Spark API v RDD móde.

In [2]:
from pyspark import SparkConf, SparkContext

# Vytvorenie vlastnej konfigurácie
# Vytvorenie objektu SparkConf, ktorý definuje konfiguráciu aplikácie
# Názov aplikácie + 2 jadrá na lokálnom stroji
conf = SparkConf().setAppName("MojaSparkApp").setMaster("local[2]") 

# Inicializácia SparkContext s definovanou konfiguráciou
sc = SparkContext(conf=conf)

print("🧠 Názov aplikácie:", sc.appName)
print("🖥️ Master:", sc.master)

🧠 Názov aplikácie: MojaSparkApp
🖥️ Master: local[2]

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/11 17:20:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### 📤 Broadcast – zdieľaná premenná
**📌 Použitie:** Ak potrebujete rovnaké nemenné dáta na všetkých exekútoroch – napríklad mapu hodnôt, cenník, konverzné tabuľky.

**✅ Výhoda:** Namiesto kopírovania veľkých dát do každej partície sa zdieľa len raz.

**📝 Vysvetlenie:** Broadcast premenne sú efektívne, ak všetky výpočty potrebujú rovnaké pomocné dáta – zdieľajú sa medzi všetkými exekútormi bez opakovania.

In [7]:
# Vytvorenie broadcast premennej

# Slovník, ktorý chceme zdieľať medzi všetkými uzlami ako "read-only"
lookup_data = {"A": 1, "B": 2, "C": 3}

# Broadcast premennej – Spark ho odošle len raz na každý uzol
broadcast_var = sc.broadcast(lookup_data)

# Vytvorenie RDD s hodnotami, ktoré budeme mapovať cez broadcast
rdd = sc.parallelize(["A", "B", "C", "A", "B"])

# Prístup k broadcast variable cez .value a získanie číselných hodnôt
result = rdd.map(lambda x: broadcast_var.value.get(x, 0)).collect()
print("📦 Výsledok z broadcast premennej:", result)

📦 Výsledok z broadcast premennej: [1, 2, 3, 1, 2]

### ➕ Accumulator – agregovaná premenná
**📌 Použitie:** Zber štatistík počas výpočtu – napr. počet zlyhaní, počet výskytov, počet transformovaných riadkov.

**⚠️ Pozor:** Accumulator sa spoľahlivo číta iba na strane drivera – nevytvárajte logiku závislú na jeho hodnote počas výpočtu.

**📝 Vysvetlenie:** Akumulátory slúžia na zber štatistík. Sú bezpečné len na pridávanie hodnôt (sčítanie), nie na čítanie počas výpočtu.

In [6]:
# Inicializácia akumulátora
# Vytvorenie akumulátora pre počítanie párnych čísel
acc = sc.accumulator(0)

# Paralelizácia počiatočných hodnôt
rdd = sc.parallelize([1, 2, 3, 4, 5])
def process(x):
    if x % 2 == 0:
        acc.add(1) # Zvýš akumulátor o 1
    return x * x # Vráť druhú mocninu

# Spustenie výpočtu
_ = rdd.map(process).collect()

print("🔢 Počet párnych čísel:", acc.value)

🔢 Počet párnych čísel: 2

## 1️⃣c Porovnanie Spark vs Hadoop – vizualizácia rozdielov
**📌 Úloha:** Porovnať Apache Spark a Hadoop MapReduce z hľadiska výkonu, zložitosti a využitia disku.

- Spark využíva výpočty v pamäti, zatiaľ čo Hadoop využíva disk (pomalejší).
- Spark poskytuje jednoduchšie API v jazykoch ako Python, Scala, R..

**✅ Výstupom bude:**
- Stĺpcový graf s porovnaním Spark vs. Hadoop v 3 parametroch

**🔗 Dokumentácia:**
- https://databricks.com/glossary/apache-spark-vs-hadoop
- https://www.geeksforgeeks.org/difference-between-hadoop-and-spark/

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pyspark

nastroje = ['Apache Spark', 'Hadoop MapReduce']
rychlost = [100, 1]  # Relatívna rýchlosť
zlozitost = [2, 7]   # 1 = jednoduché, 10 = zložité
disk = [2, 8]        # 1 = málo, 10 = veľa použitia disku

x = np.arange(len(nastroje))
bar_width = 0.25

plt.figure(figsize=(8, 5))
plt.bar(x, rychlost, bar_width, label='Rýchlosť (vyššia je lepšia)')
plt.bar(x + bar_width, zlozitost, bar_width, label='Zložitosť API (nižšia je lepšia)')
plt.bar(x + 2*bar_width, disk, bar_width, label='Použitie disku (nižšie je lepšie)')

plt.xticks(x + bar_width, nastroje)
plt.title('Porovnanie Apache Spark vs. Hadoop MapReduce')
plt.ylabel('Relatívna hodnota')
plt.legend()
plt.grid(axis='y')
plt.tight_layout()
plt.show()

## 2️⃣a Demonštrácia paralelného výpočtu cez RDD
**📌 Úloha:** Vytvoriť jednoduché RDD zo zoznamu čísel, použiť paralelné výpočty pomocou map() a filter(), a získať výsledky cez collect() a count().

- RDD je základná dátová štruktúra v Sparku pre distribuované výpočty.
- Využíva tzv. lazy evaluation – operácie sa vykonajú až pri akcii.
- Príklad ukazuje paralelné spracovanie údajov aj v lokálnom režime.

Tento príklad slúži ako prvý krok pri budovaní API aplikácií. Umožňuje otestovať, či framework funguje a ako sa správajú HTTP metódy.

**✅ Výstupom bude:**
- RDD s číslami vynásobenými 10
- RDD s číslami deliteľnými 3
- počet výsledkov a výpis obsahu RDD

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html

In [11]:
import pyspark

# Vytvorenie RDD zo zoznamu čísel 1 až 20
rdd = spark.sparkContext.parallelize(range(1, 21))

# Vynásobenie všetkých prvkov číslom 10
rdd_mapped = rdd.map(lambda x: x * 10)

# Filtrovanie len tých, ktoré sú deliteľné 3
rdd_filtered = rdd_mapped.filter(lambda x: x % 3 == 0)

# Výsledky
print("📊 Výsledok .map(x * 10):")
print(rdd_mapped.collect())

print("\n🔍 Výsledok .filter(deliteľné 3):")
print(rdd_filtered.collect())

print("\n🔢 Počet čísel deliteľných 3:")
print(rdd_filtered.count())

📊 Výsledok .map(x * 10):
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

🔍 Výsledok .filter(deliteľné 3):
[30, 60, 90, 120, 150, 180]

🔢 Počet čísel deliteľných 3:
6

## 2️⃣b Lazy evaluation a DAG (Directed Acyclic Graph)
**📌 Úloha:** Demonštrovať, že Spark nevykonáva transformácie hneď (lazy evaluation), ale najprv buduje DAG a vykoná ho až pri akcii (collect(), count()...).

- Transformácie ako map() a filter() nevytvoria žiadny výstup – len definujú DAG.
- Výpočet prebehne až pri volaní akcie (napr. collect()).
- Spark tým optimalizuje výkon a šetrí zdroje.

**✅ Výstupom bude:**
- Výpis priebehu výpočtu (pred a po akcii)
- Vizuálna simulácia DAG

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html#rdd-operations

In [9]:
# Lazy evaluation: transformácie ešte nič nevypočítajú
rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5])
rdd_step = rdd.map(lambda x: x * 10).filter(lambda x: x > 20)

# Tu sa ešte nič nedeje
print("⚠️ Transformácie boli vytvorené, ale ešte neboli vykonané.")

# Spustenie výpočtu cez akciu
print("🧮 Spúšťam výpočet cez collect():")
print(rdd_step.collect())

⚠️ Transformácie boli vytvorené, ale ešte neboli vykonané.
🧮 Spúšťam výpočet cez collect():
[30, 40, 50]

## 2️⃣c Porovnanie výkonu: čistý Python vs. Spark paralelizmus
**📌 Úloha:** Porovnať čas výpočtu súčtu druhých mocnín čísel od 1 po 1 000 000 v čistom Pythone a v Apache Spark.

- Spark využíva paralelné spracovanie (viac jadier CPU), Python vykonáva výpočty sekvenčne.
- Úlohou je porovnať reálny čas výpočtu a vizuálne zobraziť rozdiel.

**✅ Výstupom bude:**
- Trvanie výpočtu (v sekundách)
- Stĺpcový graf porovnania výpočtov

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html#actions
- https://docs.python.org/3/library/time.html

In [11]:
import time
import matplotlib.pyplot as plt

# Inicializácia SparkSession (ak ešte nebola)
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Porovnanie").master("local[*]").getOrCreate()

# Výpočet cez čistý Python
def python_sum():
    return sum([x ** 2 for x in range(1, 1_000_001)])

# Výpočet cez Apache Spark
def spark_sum():
    rdd = spark.sparkContext.parallelize(range(1, 1_000_001))
    return rdd.map(lambda x: x ** 2).sum()

# Meranie času
start = time.time()
python_result = python_sum()
python_time = time.time() - start

start = time.time()
spark_result = spark_sum()
spark_time = time.time() - start

# Vizualizácia výsledkov
tools = ['Čistý Python', 'Apache Spark']
times = [python_time, spark_time]

plt.figure(figsize=(8, 4))
plt.bar(tools, times, color=['orange', 'green'])
plt.ylabel("Čas výpočtu [s]")
plt.title("Porovnanie výkonu: Python vs. Spark paralelizmus")
for i, v in enumerate(times):
    plt.text(i, v + 0.01, f"{v:.2f} s", ha='center', fontweight='bold')
plt.grid(axis='y')
plt.tight_layout()
plt.show()

## 3️⃣ Spark DataFrames
**📌 Úloha:** Vytvoriť jednoduchý Spark DataFrame zo zoznamu údajov, zobraziť jeho obsah a štruktúru pomocou metód .show() a .printSchema()..

- DataFrame je hlavný dátový typ v Sparku pre prácu s tabuľkovými údajmi.
- Umožňuje efektívne spracovanie veľkých objemov dát v štýle SQL a Pandas.
- Podporuje množstvo operácií: výber stĺpcov, filtrovanie, zoskupenie, agregácie, spojenia…

**✅ Výstupom bude:**
- DataFrame s osobami (meno, vek, pohlavie)
- Výpis obsahu tabuľky
- Štruktúra (dátové typy)

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/DataFrame.html
- https://spark.apache.org/docs/latest/sql-getting-started.html

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# ⚙️ Inicializácia SparkSession (ak ešte neexistuje)
spark = SparkSession.builder.appName("DataFrameIntro").getOrCreate()

# 👤 Ukážkové údaje – zoznam osôb
data = [
    Row(meno="Jana", vek=29, pohlavie="Ž"),
    Row(meno="Peter", vek=45, pohlavie="M"),
    Row(meno="Lucia", vek=34, pohlavie="Ž"),
    Row(meno="Marek", vek=22, pohlavie="M")
]

# 🧱 Vytvorenie DataFrame zo zoznamu
df = spark.createDataFrame(data)

# 🔍 Zobrazenie obsahu DataFrame
print("📊 Obsah DataFrame:")
df.show()

# 🧬 Zobrazenie schémy (dátových typov)
print("📘 Schéma DataFrame:")
df.printSchema()

📊 Obsah DataFrame:
+-----+---+--------+
| meno|vek|pohlavie|
+-----+---+--------+
| Jana| 29|       Ž|
|Peter| 45|       M|
|Lucia| 34|       Ž|
|Marek| 22|       M|
+-----+---+--------+

📘 Schéma DataFrame:
root
 |-- meno: string (nullable = true)
 |-- vek: long (nullable = true)
 |-- pohlavie: string (nullable = true)

25/06/11 17:27:23 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 3️⃣b Výber, filtrovanie a nové stĺpce v DataFrame
**📌 Úloha:** Vybrať konkrétne stĺpce z DataFrame, filtrovať osoby podľa veku a pridať nový stĺpec na základe výpočtu.

- DataFrame podporuje výber stĺpcov ako SQL (select) aj cez výrazové API.
- Filtrovanie možno robiť cez filter() alebo where().
- Nové stĺpce sa vytvárajú cez withColumn().


**✅ Výstupom bude:**
- Výber mien a veku
- Filtrované osoby nad 30 rokov
- Nový stĺpec vek_o_5_viac

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/DataFrame.html
- https://spark.apache.org/docs/latest/sql-getting-started.html

In [14]:
from pyspark.sql.functions import col

# 🎯 Výber stĺpcov meno a vek
df.select("meno", "vek").show()

# 🔍 Filtrovanie: len osoby staršie ako 30
df.filter(df["vek"] > 30).show()

# ➕ Pridanie nového vypočítaného stĺpca
df = df.withColumn("vek_o_5_viac", col("vek") + 5)
df.show()

+-----+---+
| meno|vek|
+-----+---+
| Jana| 29|
|Peter| 45|
|Lucia| 34|
|Marek| 22|
+-----+---+

+-----+---+--------+
| meno|vek|pohlavie|
+-----+---+--------+
|Peter| 45|       M|
|Lucia| 34|       Ž|
+-----+---+--------+

+-----+---+--------+------------+
| meno|vek|pohlavie|vek_o_5_viac|
+-----+---+--------+------------+
| Jana| 29|       Ž|          34|
|Peter| 45|       M|          50|
|Lucia| 34|       Ž|          39|
|Marek| 22|       M|          27|
+-----+---+--------+------------+

## 3️⃣c Načítanie údajov z CSV alebo JSON súboru
**📌 Úloha:** Načítať údaje zo súboru CSV (alebo JSON) do Spark DataFrame a zobraziť prvých pár riadkov a dátové typy.

- Spark umožňuje načítať CSV, JSON, Parquet a mnoho ďalších formátov.
- Môžete špecifikovať, či CSV má hlavičku a či má automaticky odvodiť dátové typy.

**✅ Výstupom bude:**
- Úspešne načítaný DataFrame zo súboru
- Výpis riadkov cez .show()
- Typy stĺpcov cez .printSchema()
  
**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-data-sources-csv.html

In [16]:
# Vytvorenie CSV súboru s ukážkovými údajmi
with open("osoby.csv", "w", encoding="utf-8") as f:
    f.write("meno,vek,pohlavie\n")
    f.write("Jana,29,Ž\n")
    f.write("Peter,45,M\n")
    f.write("Lucia,34,Ž\n")
    f.write("Marek,22,M\n")

In [17]:
# Ukážkový súbor osoby.csv
# meno,vek,pohlavie
# Jana,29,Ž
# Peter,45,M
# Lucia,34,Ž
# Marek,22,M

# 📥 Načítanie CSV súboru
df_csv = spark.read.option("header", True).option("inferSchema", True).csv("osoby.csv")

# 🔍 Náhľad dát a typov
df_csv.show()
df_csv.printSchema()

+-----+---+--------+
| meno|vek|pohlavie|
+-----+---+--------+
| Jana| 29|       Ž|
|Peter| 45|       M|
|Lucia| 34|       Ž|
|Marek| 22|       M|
+-----+---+--------+

root
 |-- meno: string (nullable = true)
 |-- vek: integer (nullable = true)
 |-- pohlavie: string (nullable = true)

## 3️⃣d  Zoskupenie a agregácia (groupBy, agg)
**📌 Úloha:** Zoskupiť údaje podľa pohlavia, vypočítať priemerný vek a počet osôb v skupine.

- groupBy() umožňuje zoskupenie podľa jedného alebo viacerých stĺpcov.
- Funkcia agg() slúži na výpočty ako avg(), count(), sum().

**✅ Výstupom bude:**
- Agregovaný DataFrame s priemerným vekom a počtom osôb podľa pohlavia

In [15]:
from pyspark.sql.functions import avg, count

# 📊 Agregácia: priemerný vek a počet osôb podľa pohlavia
df.groupBy("pohlavie").agg(
    avg("vek").alias("priemerny_vek"),
    count("*").alias("pocet_osob")
).show()

+--------+-------------+----------+
|pohlavie|priemerny_vek|pocet_osob|
+--------+-------------+----------+
|       Ž|         31.5|         2|
|       M|         33.5|         2|
+--------+-------------+----------+

# Práca s RDD

# 📦 Práca s RDD 
**Resilient Distributed Dataset (RDD)** je základná dátová štruktúra v Apache Spark, ktorá predstavuje **rozdelenú kolekciu objektov**, spracovateľnú paralelne na viacerých uzloch.

---

### 🔍 Hlavné vlastnosti RDD:

- **📤 Distribuovanosť:** Dáta sú rozdelené na partície pre paralelné spracovanie.
- **🔁 Imutabilita:** RDD sú nemenné – každá transformácia vytvára nový RDD.
- **♻️ Odolnosť (resilience):** Spark vie obnoviť stratené dáta vďaka lineage (sled výpočtov).
- **🧮 Lazy evaluation:** Transformácie sa vykonajú až pri volaní akcie ako `collect()` alebo `count()`.
- **🔧 Typy operácií:**
  - **Transformácie:** `map()`, `filter()`, `flatMap()` – vytvárajú nové RDD
  - **Akcie:** `collect()`, `count()`, `reduce()` – spúšťajú výpočet

---

### 🧠 Na čo sa používajú RDD?

- **⛏️ Nízkoúrovňové spracovanie dát** – logy, binárne dáta, štruktúrované i neštruktúrované údaje.
- **📈 Pokročilé výpočty** – umožňujú kontrolu nad dátovým tokom, partíciami a pamäťou.
- **🧪 Experimentovanie a vlastné algoritmy** – napr. pre strojové učenie, štatistické výpočty.

---

### 🔄 Porovnanie RDD vs DataFrame

| Vlastnosť           | RDD                           | DataFrame                          |
|---------------------|-------------------------------|------------------------------------|
| API                 | Funkcionálne (map, reduce)     | Deklaratívne (SQL-like)            |
| Typovanie           | Bez schémy, menej typované     | Schémované s typmi stĺpcov         |
| Optimalizácia       | Bez optimalizácie              | Catalyst optimizer + Tungsten      |
| Výkon               | Slabší pri veľkých dátach      | Vyšší výkon a efektivita           |
| Flexibilita         | Vyššia, väčšia kontrola        | Nižšia, ale vyššia jednoduchosť    |

---

### 🔗 Dokumentácia:
- https://spark.apache.org/docs/latest/rdd-programming-guide.html
- https://spark.apache.org/docs/latest/rdd-programming-guide.html#rdd-operations
- https://spark.apache.org/docs/latest/sql-programming-guide.html#datasets-and-dataframes

## 2️⃣a Vytváranie a transformácie RDD (map, filter, reduce)
**📌 Úloha:** Vytvoriť RDD, aplikovať základné transformácie (map, filter) a následne použiť akciu reduce na výpočet súčtu.

- Tento krok ukazuje základné operácie nad RDD – ako vytvárať, transformovať a agregovať dáta v distribuovanom režime.
- Ilustruje princíp lazy evaluation – výpočty sa vykonajú až pri akcii (napr. reduce).

**✅ Výstupom bude:**
- Zoznam hodnôt po map a filter
- Výsledok operácie reduce
- Výpis akcií ako count, first, collect

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html

In [27]:
# Vytvorenie RDD z poľa
# RDD je vhodné na nízkoúrovňové manipulácie, keď potrebujete presnú kontrolu nad výpočtami.

rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5])
print(rdd.collect())  # ➡️ [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [28]:
# Použitie map() – násobenie prvkov
# map() a filter() sú transformácie – nevykonajú sa hneď.
mapped_rdd = rdd.map(lambda x: x * 10)
print(mapped_rdd.collect())  # ➡️ [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [29]:
# Použitie filter() – vybrať párne čísla
filtered_rdd = rdd.filter(lambda x: x % 2 == 0)
print(filtered_rdd.collect())  # ➡️ [2, 4]

[2, 4]

In [30]:
# Použitie reduce() – súčet všetkých prvkov
# reduce() a collect() sú akcie – spustia výpočet.

total = rdd.reduce(lambda a, b: a + b)
print(total)  # ➡️ 15

15

In [31]:
# Kombinácia operácií
result = rdd.filter(lambda x: x > 2).map(lambda x: x ** 2).collect()
print(result)  # ➡️ [9, 16, 25]

[9, 16, 25]

In [15]:
from pyspark import SparkContext

# Inicializácia Spark kontextu
sc = SparkContext.getOrCreate()

# 🔢 Vstupné dáta
data = [1, 2, 3, 4, 5, 6]
rdd = sc.parallelize(data)

# 🔁 Transformácie
rdd_mapped = rdd.map(lambda x: x * 2)            # každé číslo vynásobíme dvomi
rdd_filtered = rdd_mapped.filter(lambda x: x > 5) # ponecháme len tie väčšie ako 5

# 🎯 Akcia: redukcia
rdd_sum = rdd_filtered.reduce(lambda a, b: a + b)

# 📤 Výstupy
print("📌 RDD po map() a filter():", rdd_filtered.collect())
print("📌 Súčet (reduce):", rdd_sum)
print("📌 Počet prvkov:", rdd_filtered.count())
print("📌 Prvý prvok:", rdd_filtered.first())

📌 RDD po map() a filter(): [6, 8, 10, 12]
📌 Súčet (reduce): 36
📌 Počet prvkov: 4
📌 Prvý prvok: 6

## 2️⃣b Základy práce s RDD
**📌 Úloha:** Precvičiť základné operácie s RDD: vytvoriť RDD z poľa a zo súboru, použiť základné akcie (collect, count, take) a základné transformácie (map, filter).

- Tento príklad slúži na pochopenie základných princípov RDD.
- RDD sú nemenné a distribuované, ich transformácie sú „lazy“ – nevykonajú sa okamžite.
- Výpočty sa spustia až pri volaní akcie (collect, take, reduce...).

**✅ Výstupom bude:**

- RDD z poľa
- RDD zo súboru (alebo fallback textu, ak súbor neexistuje)
- výstup operácií: map, filter, count, take, collect
  
**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html#creating-rdds

In [17]:
from pyspark import SparkContext

# Inicializácia Spark kontextu (ak ešte neexistuje)
sc = SparkContext.getOrCreate()

# ✅ 1. Vytvorenie RDD z poľa
cisla = [1, 2, 3, 4, 5]
rdd1 = sc.parallelize(cisla)
print("📦 RDD z poľa:", rdd1.collect())

# ✅ 2. Základné transformácie
rdd2 = rdd1.map(lambda x: x * x)  # Druhá mocnina
print("🧮 Druhé mocniny:", rdd2.collect())

rdd3 = rdd2.filter(lambda x: x > 10)  # Filtrovanie hodnôt väčších ako 10
print("🔍 Hodnoty > 10:", rdd3.collect())

# ✅ 3. Základné akcie
print("🔢 Počet prvkov:", rdd3.count())
print("🎯 Prvé 2 prvky:", rdd3.take(2))

# ✅ 4. RDD z textového súboru (ak neexistuje, fallback)
try:
    rdd_text = sc.textFile("data/sample.txt")
    print("📁 RDD zo súboru – prvé 3 riadky:", rdd_text.take(3))
except Exception as e:
    rdd_text = sc.parallelize(["riadok 1", "riadok 2", "riadok 3"])
    print("📁 (Fallback) RDD z textu:", rdd_text.collect())

📦 RDD z poľa: [1, 2, 3, 4, 5]
🧮 Druhé mocniny: [1, 4, 9, 16, 25]
🔍 Hodnoty > 10: [16, 25]
🔢 Počet prvkov: 2
🎯 Prvé 2 prvky: [16, 25]
📁 (Fallback) RDD z textu: ['riadok 1', 'riadok 2', 'riadok 3']

## 2️⃣c Operácie s RDD (distinct, union, join)
**📌 Úloha:** Vyskúšať pokročilejšie operácie s RDD – spojenie (union), odstránenie duplicít (distinct) a spojenie dvojíc (join).

- Tieto operácie sú základom pre prácu s rozdelenými dátami.
- union() spája dve RDD do jednej.
- distinct() odstraňuje duplicitné záznamy.
- join() spája dve párové RDD podľa spoločného kľúča (ako v SQL).
  
**✅ Výstupom bude:**
- Spojené RDD
- RDD bez duplicít
- Spojenie (join) dvoch RDD podľa kľúča

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/rdd-programming-guide.html#working-with-key-value-pairs

In [18]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

# ✅ 1. Vytvorenie dvoch RDD
rdd_a = sc.parallelize([1, 2, 3, 4, 5, 3])
rdd_b = sc.parallelize([4, 5, 6, 7])

# ✅ 2. Operácia distinct
rdd_distinct = rdd_a.distinct()
print("🔁 Distinct (odstránenie duplicít):", rdd_distinct.collect())

# ✅ 3. Operácia union
rdd_union = rdd_a.union(rdd_b)
print("🔗 Union (spojenie rdd_a + rdd_b):", rdd_union.collect())

# ✅ 4. Párové RDD pre join (kľúč, hodnota)
rdd_keys1 = sc.parallelize([("a", 1), ("b", 2), ("c", 3)])
rdd_keys2 = sc.parallelize([("a", "alfa"), ("b", "beta"), ("d", "delta")])

# ✅ 5. Join – spoločné kľúče
rdd_joined = rdd_keys1.join(rdd_keys2)
print("🔗 Join podľa kľúča:")
for item in rdd_joined.collect():
    print(item)

🔁 Distinct (odstránenie duplicít): [2, 4, 1, 3, 5]
🔗 Union (spojenie rdd_a + rdd_b): [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]
🔗 Join podľa kľúča:
('b', (2, 'beta'))
('a', (1, 'alfa'))

## 2️⃣d Porovnanie RDD vs. DataFrames – rozdiely vo výkone a pohodlnosti
**📌 Úloha:** Porovnať výhody a nevýhody RDD a DataFrame pri spracovaní rovnakých dát – napríklad pri filtrovaní, zoskupení a výpočte priemeru.

- RDD je nízkoúrovňový – ponúka kontrolu, ale vyžaduje viac kódu.
- DataFrame je vysokoúrovňový – jednoduchší, rýchlejší a optimalizovaný pomocou Catalyst a Tungsten engine.
- Porovnáme čitateľnosť, počet riadkov kódu a výkon (čas výpočtu).

**✅ Výstupom bude:**
- Porovnanie počtu riadkov a času výpočtu pri filtrovaní a agregácii
- Ukážka rozdielov v kóde a výstupe

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-programming-guide.html
- https://spark.apache.org/docs/latest/rdd-programming-guide.html

In [26]:
from pyspark.sql import SparkSession
from time import time

spark = SparkSession.builder.appName("RDD vs DataFrame").getOrCreate()

# 🔢 Vzorka dát
data = [("Alice", 34), ("Bob", 45), ("Alice", 22), ("Bob", 48), ("Cindy", 30)]
columns = ["name", "age"]

# ✅ 1. Prístup cez RDD
rdd = spark.sparkContext.parallelize(data)

start_rdd = time()
avg_rdd = (
    rdd.filter(lambda x: x[1] > 30)  # filter podľa veku
       .map(lambda x: (x[0], (x[1], 1)))  # pre výpočet priemeru
       .reduceByKey(lambda a, b: (a[0]+b[0], a[1]+b[1]))  # spočíta veky a počty
       .mapValues(lambda x: round(x[0]/x[1], 2))  # vypočíta priemer
       .collect()
)
end_rdd = time()
print("🔹 Výsledok cez RDD:", avg_rdd)
print(f"⏱️ Čas výpočtu RDD: {end_rdd - start_rdd:.4f} sekundy")

# ✅ 2. Prístup cez DataFrame
df = spark.createDataFrame(data, columns)

start_df = time()
avg_df = (
    df.filter(df.age > 30)
      .groupBy("name")
      .avg("age")
      .withColumnRenamed("avg(age)", "average_age")
      .collect()
)
end_df = time()
print("🔸 Výsledok cez DataFrame:", [(row["name"], round(row["average_age"], 2)) for row in avg_df])
print(f"⏱️ Čas výpočtu DataFrame: {end_df - start_df:.4f} sekundy")

🔹 Výsledok cez RDD: [('Alice', 34.0), ('Bob', 46.5)]
⏱️ Čas výpočtu RDD: 0.2519 sekundy
🔸 Výsledok cez DataFrame: [('Bob', 46.5), ('Alice', 34.0)]
⏱️ Čas výpočtu DataFrame: 0.1791 sekundy

# DataFrame

# 🗂️ DataFrames – Úlohy a praktické príklady

## 🧩 Čo je DataFrame v Apache Spark?

**DataFrame** je distribuovaná dátová štruktúra v Apache Spark, ktorá pripomína **tabuľku v relačnej databáze** alebo **dátový rámec v Pythone (Pandas)**.

Je to najčastejšie používaný dátový typ pre prácu s veľkými objemami dát, pretože kombinuje **jednoduchosť deklaratívneho dotazovania** (SQL štýl) s **výkonom paralelného spracovania**.

---

### ✅ Hlavné vlastnosti DataFrame:

- **Štruktúrované dáta** – stĺpcová organizácia so známymi typmi
- **Vysoký výkon** – vďaka optimalizačným engine-om Catalyst a Tungsten
- **SQL kompatibilita** – umožňuje používať SQL dotazy
- **Podpora rôznych formátov** – CSV, JSON, Parquet, JDBC a ďalšie
- **Distribuované výpočty** – automatické rozdelenie dát a výpočtov na viaceré uzly clustra

---

### 🛠️ Na čo sa používa DataFrame?

- **ETL operácie** (Extract – Transform – Load)
- **Agregácie a štatistiky** nad veľkými datasetmi
- **Filtrovacie a zoskupovacie operácie**
- **Integrácia so strojovým učením (MLlib)**
- **Spracovanie logov, webových dát, IoT údajov a iných big data zdrojov**

---

### 🔗 Dokumentácia:
- [Spark SQL, DataFrames and Datasets Guide](https://spark.apache.org/docs/latest/sql-programming-guide.html)
- [pyspark.sql.DataFrame API](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.html)

## 3️⃣a Vytváranie a transformácie DataFrame
**📌 Úloha:** Vytvoriť DataFrame v Apache Spark, aplikovať základné transformácie ako výber (select), filtrovanie (filter) a vytváranie nových stĺpcov (withColumn).

- DataFrame je optimalizovaná dátová štruktúra na spracovanie štruktúrovaných údajov.
- Využíva optimalizačný engine Catalyst a podporuje Lazy Evaluation ako RDD.
- Transformácie ako select(), filter(), withColumn() menia logický plán, ale nevykonajú sa hneď – až pri akcii ako show() alebo collect().

**✅ Výstupom bude:**
- vytvorený DataFrame
- výber konkrétnych stĺpcov
- filtrovanie podľa podmienok
- nový odvodený stĺpec

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-programming-guide.html

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Inicializácia SparkSession
spark = SparkSession.builder.appName("DataFrame Transformácie").getOrCreate()

# 🔢 Ukážkové údaje (zoznam n-tíc)
data = [("Ján", 1000), ("Mária", 1500), ("Lucia", 1200), ("Jozef", 800)]
columns = ["Meno", "Plat"]

# ✅ 1. Vytvorenie DataFrame
df = spark.createDataFrame(data, columns)

# ✅ 2. Výber stĺpcov
df.select("Meno").show()

# ✅ 3. Filtrovanie – plat nad 1000
df.filter(col("Plat") > 1000).show()

# ✅ 4. Nový stĺpec: ZdanenýPlat (napr. 80 %)
df.withColumn("ZdanenýPlat", col("Plat") * 0.8).show()

+-----+
| Meno|
+-----+
|  Ján|
|Mária|
|Lucia|
|Jozef|
+-----+

+-----+----+
| Meno|Plat|
+-----+----+
|Mária|1500|
|Lucia|1200|
+-----+----+

+-----+----+-----------+
| Meno|Plat|ZdanenýPlat|
+-----+----+-----------+
|  Ján|1000|      800.0|
|Mária|1500|     1200.0|
|Lucia|1200|      960.0|
|Jozef| 800|      640.0|
+-----+----+-----------+

25/06/11 18:03:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 3️⃣b Základy práce s DataFrame
**📌 Úloha:** Oboznámiť sa so základnými operáciami nad DataFrame – zobrazenie schémy, ukážka dát, výpis stĺpcov a typov, filtrovanie a zoradenie.

- DataFrame v Apache Spark je distribuovaná tabuľka so schémou, podobná SQL tabuľke alebo Pandas DataFrame.
- Poskytuje efektívne metódy na manipuláciu, analýzu a transformáciu štruktúrovaných dát.

**✅ Výstupom bude:**
- Výpis schémy (schema)
- Ukážka záznamov (show)
- Výpis stĺpcov a ich typov (columns, dtypes)
- Zoradenie záznamov
- Filtrovanie záznamov

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-programming-guide.html

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# ✅ Inicializácia SparkSession
spark = SparkSession.builder.appName("Základy DataFrame").getOrCreate()

# 📊 Vzorka údajov – zamestnanci
data = [
    ("Anna", "IT", 2500),
    ("Peter", "Marketing", 1800),
    ("Lucia", "IT", 3100),
    ("Jozef", "HR", 2000)
]
columns = ["Meno", "Oddelenie", "Plat"]

# ✅ 1. Vytvorenie DataFrame
df = spark.createDataFrame(data, columns)

# ✅ 2. Zobrazenie dát
df.show()

# ✅ 3. Schéma a typy stĺpcov
df.printSchema()
print("Stĺpce:", df.columns)
print("Dátové typy:", df.dtypes)

# ✅ 4. Zoradenie podľa platu zostupne
df.orderBy(col("Plat").desc()).show()

# ✅ 5. Filtrovanie podľa oddelenia
df.filter(col("Oddelenie") == "IT").show()

+-----+---------+----+
| Meno|Oddelenie|Plat|
+-----+---------+----+
| Anna|       IT|2500|
|Peter|Marketing|1800|
|Lucia|       IT|3100|
|Jozef|       HR|2000|
+-----+---------+----+

root
 |-- Meno: string (nullable = true)
 |-- Oddelenie: string (nullable = true)
 |-- Plat: long (nullable = true)

Stĺpce: ['Meno', 'Oddelenie', 'Plat']
Dátové typy: [('Meno', 'string'), ('Oddelenie', 'string'), ('Plat', 'bigint')]
+-----+---------+----+
| Meno|Oddelenie|Plat|
+-----+---------+----+
|Lucia|       IT|3100|
| Anna|       IT|2500|
|Jozef|       HR|2000|
|Peter|Marketing|1800|
+-----+---------+----+

+-----+---------+----+
| Meno|Oddelenie|Plat|
+-----+---------+----+
| Anna|       IT|2500|
|Lucia|       IT|3100|
+-----+---------+----+

25/06/11 18:07:07 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 3️⃣c Operácie s DataFrame (select, filter, groupBy, agg)
**📌 Úloha:** Vyskúšať základné operácie nad DataFrame – výber stĺpcov, filtrovanie záznamov, zoskupovanie a agregáciu.

- select – výber konkrétnych stĺpcov
- filter – filtrovanie podľa podmienky
- groupBy – zoskupenie podľa hodnoty v stĺpci
- agg – agregácia (napr. priemer, súčet, počet)

**✅ Výstupom bude:**
- Výber konkrétnych stĺpcov
- Filtrovanie podľa hodnoty
- Agregácia podľa skupiny

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.html

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, sum, count

# ✅ Inicializácia SparkSession
spark = SparkSession.builder.appName("Operácie DataFrame").getOrCreate()

# 📊 Vzorka údajov – zamestnanci
data = [
    ("Anna", "IT", 2500),
    ("Peter", "Marketing", 1800),
    ("Lucia", "IT", 3100),
    ("Jozef", "HR", 2000),
    ("Ivan", "Marketing", 2100)
]
columns = ["Meno", "Oddelenie", "Plat"]

df = spark.createDataFrame(data, columns)

# ✅ 1. Výber konkrétnych stĺpcov
df.select("Meno", "Plat").show()

# ✅ 2. Filtrovanie podľa hodnoty v stĺpci
df.filter(df["Plat"] > 2000).show()

# ✅ 3. Zoskupenie podľa oddelenia a výpočet priemeru platu
df.groupBy("Oddelenie").agg(avg("Plat").alias("Priemerny_Plat")).show()

# ✅ 4. Zoskupenie a viacero agregácií naraz
df.groupBy("Oddelenie").agg(
    count("*").alias("Pocet"),
    sum("Plat").alias("Suma"),
    avg("Plat").alias("Priemer")
).show()

+-----+----+
| Meno|Plat|
+-----+----+
| Anna|2500|
|Peter|1800|
|Lucia|3100|
|Jozef|2000|
| Ivan|2100|
+-----+----+

+-----+---------+----+
| Meno|Oddelenie|Plat|
+-----+---------+----+
| Anna|       IT|2500|
|Lucia|       IT|3100|
| Ivan|Marketing|2100|
+-----+---------+----+

+---------+--------------+
|Oddelenie|Priemerny_Plat|
+---------+--------------+
|Marketing|        1950.0|
|       IT|        2800.0|
|       HR|        2000.0|
+---------+--------------+

+---------+-----+----+-------+
|Oddelenie|Pocet|Suma|Priemer|
+---------+-----+----+-------+
|Marketing|    2|3900| 1950.0|
|       IT|    2|5600| 2800.0|
|       HR|    1|2000| 2000.0|
+---------+-----+----+-------+

25/06/11 18:36:43 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 3️⃣d Základná práca s dátami – načítanie a ukladanie (CSV, JSON)
**📌 Úloha:** Naučiť sa, ako načítať a uložiť dáta vo formátoch CSV a JSON pomocou Spark DataFrame API.

- read.csv() / read.json() – načítanie dát
- write.csv() / write.json() – ukladanie dát
- Dôležité parametre: header, inferSchema, mode

**✅ Výstupom bude:**
- Načítanie CSV a JSON do DataFrame
- Zobrazenie dát
- Uloženie výstupu do nového súboru

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-data-sources-csv.html
- https://spark.apache.org/docs/latest/sql-data-sources-json.html

In [40]:
# 🔧 Vytvorenie vzorových dát
data = [("Anna", 30, "Bratislava"),
        ("Ján", 42, "Košice"),
        ("Eva", 25, "Prešov")]
columns = ["meno", "vek", "mesto"]

df = spark.createDataFrame(data, columns)

# 💾 Uloženie do CSV a JSON
df.write.mode("overwrite").option("header", True).csv("vzorka_osoby.csv")
df.write.mode("overwrite").json("vzorka_osoby.json")

In [41]:
from pyspark.sql import SparkSession

# ✅ Inicializácia SparkSession
spark = SparkSession.builder.appName("Nacitanie a Ukladanie").getOrCreate()

# 📥 1. Načítanie CSV súboru (s hlavičkou a automatickým určením typov)
df_csv = spark.read.csv("vzorka_osoby.csv", header=True, inferSchema=True)
df_csv.show()

# 📥 2. Načítanie JSON súboru
df_json = spark.read.json("vzorka_osoby.json")
df_json.show()

# 💾 3. Uloženie DataFrame do CSV (režim 'overwrite' – prepíše súbor)
df_csv.write.mode("overwrite").option("header", True).csv("vystup_csv")

# 💾 4. Uloženie DataFrame do JSON
df_json.write.mode("overwrite").json("vystup_json")

+----+---+----------+
|meno|vek|     mesto|
+----+---+----------+
| Ján| 42|    Košice|
| Eva| 25|    Prešov|
|Anna| 30|Bratislava|
+----+---+----------+

+----+----------+---+
|meno|     mesto|vek|
+----+----------+---+
| Ján|    Košice| 42|
| Eva|    Prešov| 25|
|Anna|Bratislava| 30|
+----+----------+---+

25/06/11 19:06:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [42]:
from pyspark.sql import SparkSession

# ✅ Inicializácia SparkSession
spark = SparkSession.builder.appName("Nacitanie a Ukladanie").getOrCreate()

# 📥 1. Načítanie CSV súboru (s hlavičkou a automatickým určením typov)
df_csv = spark.read.csv("data-klienti.csv", header=True, inferSchema=True)
df_csv.show()

# 💾 2. Uloženie DataFrame do CSV (režim 'overwrite' – prepíše súbor)
df_csv.write.mode("overwrite").option("header", True).csv("vystup-data-klienti_csv")

+--------+---+---------------+-------------+----+-------------+--------+-------+----------------+----------+
|    meno|vek|          mesto|      pozicia|plat|    vzdelanie|pohlavie|projekt|           firma|roky_praxe|
+--------+---+---------------+-------------+----+-------------+--------+-------+----------------+----------+
|   Peter| 30|         Zvolen|    Marketing|3142|         PhD.|       Ž|     E5|            ESET|         3|
|   Lucia| 55|         Trnava|Administrátor|3901|         Ing.|       Ž|     B2|          Orange|         5|
|   Peter| 58|Banská Bystrica|     Dizajnér|3359|         Mgr.|       M|     D4|              O2|         5|
|Katarína| 41|         Poprad|  Programátor|2252|          Bc.|       Ž|     B2|     Tatra banka|        11|
|   Lucia| 48|         Trnava|           HR|1044|         PhD.|       M|     D4|Pixel Federation|        24|
|Katarína| 37|         Poprad|       Tester|1911|stredoškolské|       M|     A1|Pixel Federation|        24|
|Katarína| 58|     Bratislava|           HR|4068|         Ing.|       M|     A1|Pixel Federation|         6|
|   Peter| 41|         Košice|       Tester|2623|         Mgr.|       M|     D4|Pixel Federation|        18|
|    Anna| 36|         Prešov|     Účtovník|2911|         Ing.|       Ž|     B2|          Orange|        21|
|     Ján| 26|         Poprad|    Obchodník|3292|         Mgr.|       Ž|     E5|     Tatra banka|        11|
|Katarína| 30|          Nitra|Administrátor|3108|         PhD.|       M|     E5|     Tatra banka|        23|
|  Martin| 34|         Poprad|     Účtovník|1900|stredoškolské|       Ž|     A1|          Orange|         1|
|     Eva| 45|         Žilina|      Manažér|3900|         Ing.|       M|     E5|              O2|        20|
|  Martin| 25|     Bratislava|      Manažér|4385|          Bc.|       M|     A1|Pixel Federation|        21|
|   Peter| 51|     Bratislava|    Marketing|4020|         PhD.|       Ž|     D4|            ESET|        17|
|   Lucia| 35|         Prešov|       Tester|2893|          Bc.|       M|     E5|     Tatra banka|         1|
|Katarína| 45|     Bratislava|     Účtovník|1743|          Bc.|       M|     C3|            ESET|        23|
|  Martin| 54|         Žilina|    Marketing|2062|         Ing.|       Ž|     B2|            ESET|        18|
|     Eva| 45|         Prešov|     Dizajnér|2295|         Mgr.|       Ž|     E5|            ESET|        13|
|   Lucia| 28|         Zvolen|     Účtovník|2770|         Mgr.|       M|     B2|            ESET|        18|
+--------+---+---------------+-------------+----+-------------+--------+-------+----------------+----------+
only showing top 20 rows

In [39]:
#!pip install faker
from pyspark.sql import SparkSession
import random
from faker import Faker

# Inicializácia SparkSession
spark = SparkSession.builder.appName("VelkyDataFrame").getOrCreate()

# Použitie knižnice Faker na generovanie realistických dát
fake = Faker("sk_SK")

# Počet riadkov
num_rows = 10000

# Generovanie dát
data = []
for _ in range(num_rows):
    meno = fake.first_name()
    priezvisko = fake.last_name()
    vek = random.randint(18, 70)
    mesto = fake.city()
    email = fake.email()
    telefon = fake.phone_number()
    firma = fake.company()
    pozicia = fake.job()
    datum_narodenia = fake.date_of_birth(minimum_age=18, maximum_age=70).isoformat()
    psc = fake.postcode()
    data.append((meno, priezvisko, vek, datum_narodenia, mesto, psc, email, telefon, firma, pozicia))

# Definovanie stĺpcov
columns = ["meno", "priezvisko", "vek", "datum_narodenia", "mesto", "psc", "email", "telefon", "firma", "pozicia"]

# Vytvorenie DataFrame
df = spark.createDataFrame(data, columns)

# Uloženie do CSV a JSON
df.write.mode("overwrite").option("header", True).csv("vzorka_osoby_velka.csv")
df.write.mode("overwrite").json("vzorka_osoby_velka.json")

# Náhľad
df.show(5)
df

+---------+----------+---+---------------+------------------+------+--------------------+-----------------+--------------------+--------------------+
|     meno|priezvisko|vek|datum_narodenia|             mesto|   psc|               email|          telefon|               firma|             pozicia|
+---------+----------+---+---------------+------------------+------+--------------------+-----------------+--------------------+--------------------+
|   Viktor| Janečková| 53|     1976-08-24|     Horný Lieskov|999 84|milosmadar@exampl...|00421 34 683 0549|         Melicherčík|Inžinier, elektro...|
|Frederika|  Ondrušek| 18|     1981-05-04|          Domaníky|044 12|tmihalik@example.org| +421 940 625 976|           Valušková|      Správca umenia|
|Sebastián|     Hanák| 62|     1986-12-27|Vršatské Podhradie|825 05|lstarosta@example...|00421 949 639 756|    Černíková s.r.o.|Návrhár interiéro...|
| Bohuslav|   Devečka| 53|     1991-10-22|           Borčany|067 25|sokolovabarbara@e...| +421 49 897 0011|         Kozová a.s.|  Knihovník, verejný|
|  Krištof|   Tomaška| 70|     1957-08-24|       Dolná Ždaňa|876 76|  isamel@example.org|00421 948 209 695|Lamačová Velďák a.s.|              Umelec|
+---------+----------+---+---------------+------------------+------+--------------------+-----------------+--------------------+--------------------+
only showing top 5 rows

DataFrame[meno: string, priezvisko: string, vek: bigint, datum_narodenia: string, mesto: string, psc: string, email: string, telefon: string, firma: string, pozicia: string]

## 3️⃣e Porovnanie DataFrames oproti RDD
**📌 Úloha:** Porovnať prístup pomocou RDD a DataFrame pri spracovaní rovnakých dát (filtrovanie, zoskupenie, výpočet priemeru platu).

- RDD poskytuje nízkoúrovňovú kontrolu, ale je menej čitateľný a optimalizovaný.
- DataFrame je vysokoúrovňový, efektívny a vhodný na SQL dotazy a analytiku.
- Porovnáme čitateľnosť kódu, výkon výpočtu a zložitosť implementácie.

**✅ Výstupom bude:**
- Porovnanie kódu, počtu riadkov a výpočtového času
- Ukážka výpočtu priemerného platu podľa pozície

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-programming-guide.html
- https://spark.apache.org/docs/latest/rdd-programming-guide.html

In [43]:
from pyspark.sql import SparkSession
from time import time

# 🔧 Inicializácia SparkSession
spark = SparkSession.builder.appName("Porovnanie RDD a DataFrame").getOrCreate()

# 📊 Testovacie údaje
data = [
    ("Anna", 30, "Bratislava", "Developer", 3000),
    ("Ján", 42, "Košice", "Manager", 5000),
    ("Eva", 25, "Prešov", "Developer", 3200),
    ("Peter", 38, "Žilina", "Manager", 5200),
    ("Marek", 28, "Nitra", "Tester", 2800),
]
columns = ["meno", "vek", "mesto", "pozicia", "plat"]

# ✅ 1. Riešenie cez RDD
rdd = spark.sparkContext.parallelize(data)

start_rdd = time()
avg_salary_rdd = (
    rdd.map(lambda x: (x[3], (x[4], 1)))  # (pozícia, (plat, 1))
       .reduceByKey(lambda a, b: (a[0]+b[0], a[1]+b[1]))  # spočíta platy a počty
       .mapValues(lambda x: round(x[0]/x[1], 2))  # výpočet priemeru
       .collect()
)
end_rdd = time()

print("🔹 Výsledok cez RDD:", avg_salary_rdd)
print(f"⏱️ Čas výpočtu RDD: {end_rdd - start_rdd:.4f} sekundy")

🔹 Výsledok cez RDD: [('Developer', 3100.0), ('Manager', 5100.0), ('Tester', 2800.0)]
⏱️ Čas výpočtu RDD: 0.4468 sekundy

25/06/11 19:13:36 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [44]:
# ✅ 2. Riešenie cez DataFrame
df = spark.createDataFrame(data, columns)

start_df = time()
avg_salary_df = (
    df.groupBy("pozicia")
      .avg("plat")
      .withColumnRenamed("avg(plat)", "priemerny_plat")
      .collect()
)
end_df = time()

print("🔸 Výsledok cez DataFrame:", [(row["pozicia"], round(row["priemerny_plat"], 2)) for row in avg_salary_df])
print(f"⏱️ Čas výpočtu DataFrame: {end_df - start_df:.4f} sekundy")

🔸 Výsledok cez DataFrame: [('Developer', 3100.0), ('Manager', 5100.0), ('Tester', 2800.0)]
⏱️ Čas výpočtu DataFrame: 0.3747 sekundy

## 📊 Zhrnutie porovnania

| Kriterium             | RDD                         | DataFrame                            |
|-----------------------|-----------------------------|---------------------------------------|
| Úroveň abstrakcie     | Nízka                       | Vysoká                                |
| Počet riadkov kódu    | Viac                        | Menej                                 |
| Optimalizácia         | Manuálna                    | Automatická (Catalyst + Tungsten)     |
| Čitateľnosť           | Nižšia                      | Vyššia                                |
| Rýchlosť výpočtu      | Zvyčajne nižšia             | Vyššia                                |
| SQL podpora           | Nie                         | Áno                                   |

# Spark SQL

# 🛢️ Spark SQL

## 4️⃣a Spracovanie dát v Spark SQL
**📌 Úloha:** Vytvoriť dočasnú SQL tabuľku zo Spark DataFrame a spustiť nad ňou SQL dopyt.

- Spark SQL umožňuje spúšťať klasické SQL dopyty nad veľkými dátami v distribuovanom prostredí.
- Využíva optimalizačné enginy Catalyst a Tungsten.
- V praxi možno spájať výhody DataFrame API a SQL dopytovania.

**✅ Výstupom bude:**
- Registrácia DataFrame ako SQL tabuľky
- Vykonanie SELECT, WHERE, ORDER BY dopytov
- Zobrazenie výsledkov z dopytov

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-getting-started.html

In [47]:
from pyspark.sql import SparkSession

# Inicializácia SparkSession
spark = SparkSession.builder.appName("Spark SQL Example").getOrCreate()

# Vytvorenie dátového rámca (DataFrame)
data = [
    ("Anna", 30, "Bratislava", "anna@example.com", "0901123456", "Žena", "IT", 2100),
    ("Ján", 42, "Košice", "jan.k@example.com", "0902987654", "Muž", "Strojárstvo", 1800),
    ("Eva", 25, "Prešov", "eva123@example.com", "0910123456", "Žena", "Marketing", 1500),
    ("Marek", 33, "Bratislava", "marek.m@example.com", "0903123456", "Muž", "Financie", 2300),
    ("Zuzana", 28, "Žilina", "zuzana.z@example.com", "0904567890", "Žena", "HR", 1600),
    ("Tomáš", 36, "Trnava", "tomas.t@example.com", "0905234567", "Muž", "Logistika", 1950),
    ("Lucia", 31, "Nitra", "lucia.n@example.com", "0910789456", "Žena", "IT", 2200),
    ("Peter", 45, "Poprad", "peter.p@example.com", "0911345678", "Muž", "Strojárstvo", 1700),
    ("Monika", 29, "Banská Bystrica", "monika.b@example.com", "0909988776", "Žena", "Marketing", 1650),
    ("Andrej", 39, "Bratislava", "andrej.a@example.com", "0901239876", "Muž", "Financie", 2400),
    ("Jana", 26, "Prešov", "jana.j@example.com", "0910456789", "Žena", "HR", 1550),
    ("Michal", 34, "Košice", "michal.k@example.com", "0906781234", "Muž", "IT", 2150),
    ("Veronika", 32, "Žilina", "veronika.v@example.com", "0907345678", "Žena", "Financie", 2250),
    ("Filip", 40, "Nitra", "filip.f@example.com", "0910678456", "Muž", "Strojárstvo", 1850),
    ("Natália", 27, "Trenčín", "natalia.n@example.com", "0903456789", "Žena", "Marketing", 1700),
    ("Roman", 38, "Bratislava", "roman.r@example.com", "0901123987", "Muž", "Logistika", 2050),
    ("Barbora", 30, "Košice", "barbora.b@example.com", "0910112233", "Žena", "HR", 1600),
    ("Martin", 37, "Prešov", "martin.m@example.com", "0903456677", "Muž", "IT", 2100),
    ("Kristína", 29, "Žilina", "kristina.k@example.com", "0910345678", "Žena", "Marketing", 1680),
    ("Róbert", 41, "Trnava", "robert.r@example.com", "0909776543", "Muž", "Financie", 2350),
    ("Simona", 35, "Nitra", "simona.s@example.com", "0901234321", "Žena", "Strojárstvo", 1750),
    ("Vladimír", 44, "Poprad", "vladimir.v@example.com", "0910987654", "Muž", "Logistika", 2000),
    ("Petra", 33, "Bratislava", "petra.p@example.com", "0908765432", "Žena", "IT", 2250),
    ("Richard", 36, "Košice", "richard.r@example.com", "0905234890", "Muž", "Marketing", 1720),
    ("Alena", 28, "Prešov", "alena.a@example.com", "0910765432", "Žena", "HR", 1580),
    ("Miloš", 43, "Žilina", "milos.m@example.com", "0903987654", "Muž", "Strojárstvo", 1900),
    ("Lenka", 30, "Nitra", "lenka.l@example.com", "0910876543", "Žena", "Marketing", 1650),
    ("Štefan", 39, "Bratislava", "stefan.s@example.com", "0903456781", "Muž", "Financie", 2450),
    ("Nikola", 31, "Trenčín", "nikola.n@example.com", "0909234567", "Žena", "IT", 2180),
    ("Daniel", 42, "Trnava", "daniel.d@example.com", "0910347856", "Muž", "Strojárstvo", 1850),
    ("Laura", 27, "Prešov", "laura.l@example.com", "0903344567", "Žena", "HR", 1570),
    ("Dominik", 35, "Košice", "dominik.d@example.com", "0910789765", "Muž", "Logistika", 1980),
    ("Ema", 29, "Žilina", "ema.e@example.com", "0907654321", "Žena", "Marketing", 1620),
    ("Patrik", 38, "Bratislava", "patrik.p@example.com", "0910234567", "Muž", "IT", 2300),
    ("Bianka", 32, "Nitra", "bianka.b@example.com", "0908787654", "Žena", "Financie", 2100),
    ("Adam", 40, "Poprad", "adam.a@example.com", "0909988771", "Muž", "Strojárstvo", 1800),
    ("Lucia", 26, "Prešov", "lucia.l@example.com", "0910678956", "Žena", "HR", 1500),
    ("Tomáš", 34, "Košice", "tomas.t@example.com", "0910345671", "Muž", "IT", 2200),
    ("Michaela", 30, "Žilina", "michaela.m@example.com", "0909654321", "Žena", "Marketing", 1690),
    ("Igor", 39, "Bratislava", "igor.i@example.com", "0901111222", "Muž", "Logistika", 2060),
    ("Katarína", 33, "Nitra", "katarina.k@example.com", "0904332211", "Žena", "Financie", 2140),
    ("Denis", 37, "Trenčín", "denis.d@example.com", "0910567890", "Muž", "Strojárstvo", 1830),
    ("Tatiana", 28, "Košice", "tatiana.t@example.com", "0910876598", "Žena", "HR", 1590),
    ("Erik", 41, "Prešov", "erik.e@example.com", "0904345678", "Muž", "Marketing", 1670),
    ("Sandra", 30, "Bratislava", "sandra.s@example.com", "0910765433", "Žena", "IT", 2210),
    ("Rastislav", 36, "Žilina", "rastislav.r@example.com", "0903981122", "Muž", "Financie", 2280),
    ("Silvia", 31, "Nitra", "silvia.s@example.com", "0910555123", "Žena", "Marketing", 1630),
    ("Branislav", 44, "Trnava", "branislav.b@example.com", "0910111999", "Muž", "Logistika", 1960)
]

columns = ["meno", "vek", "mesto", "email", "telefon", "pohlavie", "odbor", "mzda"]

df = spark.createDataFrame(data, columns)

# Registrácia ako dočasnej SQL tabuľky
df.createOrReplaceTempView("osoby")

# 🔍 SQL dopyt: Vyber osoby z Bratislavy, zoradené podľa veku zostupne
result = spark.sql("""
    SELECT meno, vek, mesto
    FROM osoby
    WHERE mesto = 'Bratislava'
    ORDER BY vek DESC
""")

# Zobrazenie výsledku
result.show()

+------+---+----------+
|  meno|vek|     mesto|
+------+---+----------+
|Andrej| 39|Bratislava|
|Štefan| 39|Bratislava|
|  Igor| 39|Bratislava|
| Roman| 38|Bratislava|
|Patrik| 38|Bratislava|
| Marek| 33|Bratislava|
| Petra| 33|Bratislava|
|Sandra| 30|Bratislava|
|  Anna| 30|Bratislava|
+------+---+----------+

## 1️⃣b Asynchrónne pripojenie k MySQL / PostgreSQL pomocou `databases`
**📌 Úloha:** Pripojiť sa k externej databáze MySQL alebo PostgreSQL a uložiť nový záznam.

- Pomocou knižnice `databases` je možné realizovať neblokujúce I/O operácie.
- Vhodné pre výkonné API aplikácie vo FastAPI.

**🔗 Dokumentácia:**
- https://www.encode.io/databases/

In [ ]:
# Inštalácia: pip install databases[aiomysql] databases[asyncpg] sqlalchemy

from sqlalchemy import MetaData, Table, Column, Integer, String, Float
from databases import Database

# Pripojenie na PostgreSQL
# database = Database("postgresql+asyncpg://uzivatel:heslo@localhost/db")

# Pripojenie na MySQL
# database = Database("mysql+aiomysql://uzivatel:heslo@localhost/db")

metadata = MetaData()

kurzy = Table(
    "kurzy",
    metadata,
    Column("id", Integer, primary_key=True),
    Column("nazov", String(length=100)),
    Column("cena", Float)
)

## 4️⃣b Spúšťanie SQL dopytov na veľkých dátach
**📌 Úloha:** Spustiť SQL dopyty nad väčším množstvom údajov (napr. 50+ riadkov, 8 stĺpcov) pomocou Spark SQL.

- Cieľom je využiť výhody SQL syntaxe pri filtrovaní, triedení a agregácii dát.
- Spark umožňuje vytvárať dočasné SQL tabuľky z DataFrame.
- SQL dopyty môžu byť jednoduchšie a čitateľnejšie ako DataFrame API.

**✅ Výstupom bude:**
- Vytvorenie dočasnej tabuľky
- Spustenie viacerých SQL dopytov (filter, groupBy, avg, orderBy)
- Výpis výsledkov

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-programming-guide.html

In [49]:
from pyspark.sql import SparkSession

# 🔧 Inicializácia SparkSession
spark = SparkSession.builder.appName("SQL dopyty").getOrCreate()

# 📥 Testovacie dáta (50+ riadkov, 8 stĺpcov)
data = [
    ("Anna", 30, "Bratislava", "anna@example.com", "0901123456", "Žena", "IT", 2100),
    ("Ján", 42, "Košice", "jan.k@example.com", "0902987654", "Muž", "Strojárstvo", 1800),
    ("Eva", 25, "Prešov", "eva.s@example.com", "0903123123", "Žena", "Marketing", 1600),
    ("Marek", 33, "Bratislava", "marek.n@example.com", "0904123765", "Muž", "Finance", 1900),
    ("Zuzana", 28, "Žilina", "zuzana.p@example.com", "0905321987", "Žena", "HR", 1750),
    ("Tomáš", 40, "Trnava", "tomas.r@example.com", "0906987654", "Muž", "IT", 2300),
    ("Lucia", 31, "Nitra", "lucia.b@example.com", "0902123123", "Žena", "Logistika", 1700),
    ("Peter", 45, "Poprad", "peter.z@example.com", "0908765432", "Muž", "Obchod", 1850),
    ("Barbora", 27, "Banská Bystrica", "barbora.j@example.com", "0904345678", "Žena", "IT", 2000),
    ("Michal", 29, "Bratislava", "michal.d@example.com", "0903456123", "Muž", "Strojárstvo", 1950),
    ("Veronika", 34, "Trenčín", "veronika.m@example.com", "0909789456", "Žena", "Marketing", 1800),
    ("Roman", 38, "Košice", "roman.c@example.com", "0901144578", "Muž", "Finance", 2200),
    ("Simona", 26, "Žilina", "simona.r@example.com", "0902876543", "Žena", "HR", 1650),
    ("Juraj", 37, "Prešov", "juraj.k@example.com", "0903987123", "Muž", "IT", 2400),
    ("Kristína", 32, "Trnava", "kristina.v@example.com", "0905123498", "Žena", "Logistika", 1750),
    ("Martin", 41, "Poprad", "martin.s@example.com", "0906012345", "Muž", "Obchod", 1950),
    ("Jana", 29, "Bratislava", "jana.h@example.com", "0907876543", "Žena", "IT", 2150),
    ("Andrej", 36, "Nitra", "andrej.l@example.com", "0901432567", "Muž", "Strojárstvo", 1800),
    ("Silvia", 33, "Banská Bystrica", "silvia.m@example.com", "0903678456", "Žena", "Marketing", 1900),
    ("Róbert", 39, "Trenčín", "robert.t@example.com", "0904987123", "Muž", "Finance", 2100),
    ("Michaela", 35, "Košice", "michaela.b@example.com", "0902654987", "Žena", "HR", 1850),
    ("Patrik", 28, "Prešov", "patrik.f@example.com", "0903124987", "Muž", "IT", 2250),
    ("Lenka", 30, "Žilina", "lenka.n@example.com", "0904345876", "Žena", "Logistika", 1700),
    ("Dušan", 43, "Poprad", "dusan.r@example.com", "0906543872", "Muž", "Obchod", 1800),
    ("Nikola", 26, "Trnava", "nikola.z@example.com", "0905467832", "Žena", "IT", 2000),
    ("Adam", 31, "Bratislava", "adam.d@example.com", "0909981234", "Muž", "Strojárstvo", 1900),
    ("Petra", 27, "Nitra", "petra.k@example.com", "0907896543", "Žena", "Marketing", 1600),
    ("Daniel", 34, "Banská Bystrica", "daniel.m@example.com", "0903123478", "Muž", "Finance", 2100),
    ("Zita", 39, "Trenčín", "zita.s@example.com", "0904987211", "Žena", "HR", 1750),
    ("Filip", 29, "Košice", "filip.j@example.com", "0901234999", "Muž", "IT", 2350),
    ("Lucia", 38, "Prešov", "lucia.v@example.com", "0903456128", "Žena", "Logistika", 1800),
    ("Milan", 33, "Žilina", "milan.c@example.com", "0903456712", "Muž", "Obchod", 1900),
    ("Ivana", 36, "Bratislava", "ivana.r@example.com", "0907654982", "Žena", "IT", 2100),
    ("Richard", 40, "Poprad", "richard.f@example.com", "0908765123", "Muž", "Strojárstvo", 1850),
    ("Tatiana", 28, "Trnava", "tatiana.b@example.com", "0902567984", "Žena", "Marketing", 1750),
    ("Viktor", 35, "Nitra", "viktor.l@example.com", "0904532165", "Muž", "Finance", 2050),
    ("Monika", 31, "Košice", "monika.p@example.com", "0903214567", "Žena", "HR", 1700),
    ("Erik", 44, "Prešov", "erik.z@example.com", "0908764321", "Muž", "IT", 2400),
    ("Renáta", 30, "Banská Bystrica", "renata.k@example.com", "0905543212", "Žena", "Logistika", 1800),
    ("Štefan", 38, "Trenčín", "stefan.d@example.com", "0907765432", "Muž", "Obchod", 1950),
    ("Nina", 27, "Bratislava", "nina.s@example.com", "0903221112", "Žena", "IT", 2250),
    ("Tomáš", 34, "Poprad", "tomas.f@example.com", "0909090987", "Muž", "Strojárstvo", 1900),
    ("Alena", 32, "Žilina", "alena.g@example.com", "0901876543", "Žena", "Marketing", 1650),
    ("Dominik", 29, "Trnava", "dominik.h@example.com", "0905432198", "Muž", "Finance", 2000),
    ("Karolína", 37, "Nitra", "karolina.w@example.com", "0902123999", "Žena", "HR", 1750),
    ("Stanislav", 30, "Košice", "stanislav.a@example.com", "0902789456", "Muž", "IT", 2150),
    ("Ema", 31, "Prešov", "ema.l@example.com", "0906654321", "Žena", "Logistika", 1700),
    ("Branislav", 40, "Bratislava", "branislav.v@example.com", "0907876541", "Muž", "Obchod", 1850),
    ("Kristína", 33, "Banská Bystrica", "kristina.b@example.com", "0904345998", "Žena", "IT", 2050),
    ("Rastislav", 36, "Trenčín", "rastislav.p@example.com", "0905432765", "Muž", "Strojárstvo", 1800),
    ("Sandra", 28, "Nitra", "sandra.x@example.com", "0906123987", "Žena", "Marketing", 1600)
]

columns = ["meno", "vek", "mesto", "email", "telefon", "pohlavie", "odbor", "mzda"]


# 🔨 Vytvorenie DataFrame a registrácia ako SQL tabuľky
df = spark.createDataFrame(data, columns)
df.createOrReplaceTempView("osoby")

# 🧮 1. Priemer mzdy podľa mesta
df1 = spark.sql("""
    SELECT mesto, ROUND(AVG(mzda), 2) AS priemerna_mzda
    FROM osoby
    GROUP BY mesto
    ORDER BY priemerna_mzda DESC
""")
df1.show()

# 🔍 2. Zoznam ľudí z Bratislavy v odbore IT
df2 = spark.sql("""
    SELECT meno, vek, mzda
    FROM osoby
    WHERE mesto = 'Bratislava' AND odbor = 'IT'
    ORDER BY mzda DESC
""")
df2.show()

# 📊 3. Počet ľudí podľa pohlavia a odboru
df3 = spark.sql("""
    SELECT pohlavie, odbor, COUNT(*) AS pocet
    FROM osoby
    GROUP BY pohlavie, odbor
    ORDER BY pocet DESC
""")
df3.show()

+---------------+--------------+
|          mesto|priemerna_mzda|
+---------------+--------------+
|     Bratislava|        2025.0|
|         Prešov|        2025.0|
|         Košice|       2008.33|
|Banská Bystrica|        1970.0|
|         Trnava|        1960.0|
|        Trenčín|        1880.0|
|         Poprad|        1870.0|
|          Nitra|        1750.0|
|         Žilina|        1730.0|
+---------------+--------------+

+-----+---+----+
| meno|vek|mzda|
+-----+---+----+
| Nina| 27|2250|
| Jana| 29|2150|
|Ivana| 36|2100|
| Anna| 30|2100|
+-----+---+----+

+--------+-----------+-----+
|pohlavie|      odbor|pocet|
+--------+-----------+-----+
|    Žena|  Marketing|    7|
|    Žena|         IT|    7|
|     Muž|Strojárstvo|    7|
|     Muž|    Finance|    6|
|     Muž|     Obchod|    6|
|    Žena|         HR|    6|
|    Žena|  Logistika|    6|
|     Muž|         IT|    6|
+--------+-----------+-----+

## 4️⃣c Pokročilé SQL dopyty v Spark SQL
**📌 Úloha:** Vyskúšať rôzne SQL dopyty nad veľkou tabuľkou osoby, ktorú sme predtým vytvorili.

- Vyhľadávanie podľa podmienok
- Agregácie podľa kategórií
- Triedenie a obmedzenie výsledkov
- Skupinové výpočty

✅ Výstupom bude:
- Zoznam dotazov s rôznymi typmi operácií (kde, group by, order by, like, limit)
- Výsledky zobrazené cez .show()

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-ref-syntax.html

In [50]:
# Vybrať osoby s mzdou vyššou ako 2000 €

spark.sql("""
    SELECT meno, mzda 
    FROM osoby 
    WHERE mzda > 2000
""").show()

+---------+----+
|     meno|mzda|
+---------+----+
|     Anna|2100|
|    Tomáš|2300|
|    Roman|2200|
|    Juraj|2400|
|     Jana|2150|
|   Róbert|2100|
|   Patrik|2250|
|   Daniel|2100|
|    Filip|2350|
|    Ivana|2100|
|   Viktor|2050|
|     Erik|2400|
|     Nina|2250|
|Stanislav|2150|
| Kristína|2050|
+---------+----+

In [51]:
# Priemerná mzda podľa pohlavia
spark.sql("""
    SELECT pohlavie, ROUND(AVG(mzda), 2) AS priemerna_mzda
    FROM osoby
    GROUP BY pohlavie
""").show()

+--------+--------------+
|pohlavie|priemerna_mzda|
+--------+--------------+
|    Žena|        1825.0|
|     Muž|        2020.0|
+--------+--------------+

In [52]:
# Počet ľudí v každom meste
spark.sql("""
    SELECT mesto, COUNT(*) AS pocet
    FROM osoby
    GROUP BY mesto
    ORDER BY pocet DESC
""").show()

+---------------+-----+
|          mesto|pocet|
+---------------+-----+
|     Bratislava|    8|
|         Košice|    6|
|          Nitra|    6|
|         Prešov|    6|
|Banská Bystrica|    5|
|         Trnava|    5|
|        Trenčín|    5|
|         Poprad|    5|
|         Žilina|    5|
+---------------+-----+

In [53]:
# Mzda podľa odboru (iba ak viac ako 3 zamestnanci v odbore)
spark.sql("""
    SELECT odbor, ROUND(AVG(mzda), 2) AS priemerna_mzda, COUNT(*) AS pocet
    FROM osoby
    GROUP BY odbor
    HAVING COUNT(*) > 3
    ORDER BY priemerna_mzda DESC
""").show()

+-----------+--------------+-----+
|      odbor|priemerna_mzda|pocet|
+-----------+--------------+-----+
|         IT|       2192.31|   13|
|    Finance|       2058.33|    6|
|     Obchod|       1883.33|    6|
|Strojárstvo|       1857.14|    7|
|  Logistika|       1741.67|    6|
|         HR|       1741.67|    6|
|  Marketing|        1700.0|    7|
+-----------+--------------+-----+

In [54]:
# Vyhľadávanie podľa mena (LIKE)
spark.sql("""
    SELECT * 
    FROM osoby 
    WHERE meno LIKE 'J%'
""").show()

+-----+---+----------+-------------------+----------+--------+-----------+----+
| meno|vek|     mesto|              email|   telefon|pohlavie|      odbor|mzda|
+-----+---+----------+-------------------+----------+--------+-----------+----+
|  Ján| 42|    Košice|  jan.k@example.com|0902987654|     Muž|Strojárstvo|1800|
|Juraj| 37|    Prešov|juraj.k@example.com|0903987123|     Muž|         IT|2400|
| Jana| 29|Bratislava| jana.h@example.com|0907876543|    Žena|         IT|2150|
+-----+---+----------+-------------------+----------+--------+-----------+----+

In [55]:
# Top 5 najlepšie platených zamestnancov
spark.sql("""
    SELECT meno, mzda 
    FROM osoby 
    ORDER BY mzda DESC 
    LIMIT 5
""").show()

+-----+----+
| meno|mzda|
+-----+----+
| Erik|2400|
|Juraj|2400|
|Filip|2350|
|Tomáš|2300|
| Nina|2250|
+-----+----+

In [57]:
# Vytvorenie druhej tabuľky projekty
data_projekty = [
    ("Anna", "Projekt A", "2024-01-15"),
    ("Ján", "Projekt B", "2023-11-10"),
    ("Eva", "Projekt C", "2024-02-20"),
    ("Marek", "Projekt D", "2024-03-05"),
    ("Zuzana", "Projekt E", "2023-09-01"),
    ("Marek", "Projekt F", "2024-05-01")
]

columns_projekty = ["meno", "nazov_projektu", "datum_startu"]

df_projekty = spark.createDataFrame(data_projekty, columns_projekty)
df_projekty.createOrReplaceTempView("projekty")

df_projekty

DataFrame[meno: string, nazov_projektu: string, datum_startu: string]

In [58]:
# INNER JOIN – len osoby, ktoré majú projekt
spark.sql("""
    SELECT o.meno, o.mesto, p.nazov_projektu, p.datum_startu
    FROM osoby o
    INNER JOIN projekty p ON o.meno = p.meno
""").show()

+------+----------+--------------+------------+
|  meno|     mesto|nazov_projektu|datum_startu|
+------+----------+--------------+------------+
|   Eva|    Prešov|     Projekt C|  2024-02-20|
|  Anna|Bratislava|     Projekt A|  2024-01-15|
|   Ján|    Košice|     Projekt B|  2023-11-10|
|Zuzana|    Žilina|     Projekt E|  2023-09-01|
| Marek|Bratislava|     Projekt D|  2024-03-05|
| Marek|Bratislava|     Projekt F|  2024-05-01|
+------+----------+--------------+------------+

In [59]:
# LEFT JOIN – všetky osoby, aj tie bez projektu
spark.sql("""
    SELECT o.meno, o.mesto, p.nazov_projektu, p.datum_startu
    FROM osoby o
    LEFT JOIN projekty p ON o.meno = p.meno
""").show()

+--------+---------------+--------------+------------+
|    meno|          mesto|nazov_projektu|datum_startu|
+--------+---------------+--------------+------------+
|Michaela|         Košice|          NULL|        NULL|
|  Simona|         Žilina|          NULL|        NULL|
|     Eva|         Prešov|     Projekt C|  2024-02-20|
| Barbora|Banská Bystrica|          NULL|        NULL|
|Veronika|        Trenčín|          NULL|        NULL|
|  Róbert|        Trenčín|          NULL|        NULL|
|  Michal|     Bratislava|          NULL|        NULL|
|  Martin|         Poprad|          NULL|        NULL|
|    Anna|     Bratislava|     Projekt A|  2024-01-15|
|  Silvia|Banská Bystrica|          NULL|        NULL|
|  Zuzana|         Žilina|     Projekt E|  2023-09-01|
|   Juraj|         Prešov|          NULL|        NULL|
|   Marek|     Bratislava|     Projekt F|  2024-05-01|
|   Marek|     Bratislava|     Projekt D|  2024-03-05|
|Kristína|         Trnava|          NULL|        NULL|
|  Andrej|          Nitra|          NULL|        NULL|
|   Lucia|          Nitra|          NULL|        NULL|
|    Jana|     Bratislava|          NULL|        NULL|
|   Roman|         Košice|          NULL|        NULL|
|   Tomáš|         Trnava|          NULL|        NULL|
+--------+---------------+--------------+------------+
only showing top 20 rows

In [60]:
# Počet projektov na osobu
spark.sql("""
    SELECT p.meno, COUNT(*) AS pocet_projektov
    FROM projekty p
    GROUP BY p.meno
""").show()

+------+---------------+
|  meno|pocet_projektov|
+------+---------------+
|   Eva|              1|
|  Anna|              1|
|   Ján|              1|
|Zuzana|              1|
| Marek|              2|
+------+---------------+

In [61]:
# RIGHT JOIN – všetky projekty, aj bez zhody v osobe
spark.sql("""
    SELECT o.meno, o.mesto, p.nazov_projektu, p.datum_startu
    FROM osoby o
    RIGHT JOIN projekty p ON o.meno = p.meno
""").show()

+------+----------+--------------+------------+
|  meno|     mesto|nazov_projektu|datum_startu|
+------+----------+--------------+------------+
|   Eva|    Prešov|     Projekt C|  2024-02-20|
|  Anna|Bratislava|     Projekt A|  2024-01-15|
|   Ján|    Košice|     Projekt B|  2023-11-10|
|Zuzana|    Žilina|     Projekt E|  2023-09-01|
| Marek|Bratislava|     Projekt D|  2024-03-05|
| Marek|Bratislava|     Projekt F|  2024-05-01|
+------+----------+--------------+------------+

## 4️⃣f Uloženie výsledkov SQL dopytu
**📌 Úloha:** Uložiť výsledky SQL dotazu ako:

- Novú dočasnú alebo trvalú tabuľku (ak používate Hive/Spark catalog)
- CSV súbor do súborového systému (lokálne/HDFS)

**✅ Výstupom bude:**
- Vytvorenie novej tabuľky vysledok_join
- Export do CSV so záhlavím

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-data-sources-csv.html
- https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-create-table.html

In [62]:
# Uloženie výsledkov ako nová tabuľka

# vytvorenie DataFrame z JOIN dopytu
vysledok_join_df = spark.sql("""
    SELECT o.meno, o.mesto, p.nazov_projektu, p.datum_startu
    FROM osoby o
    RIGHT JOIN projekty p ON o.meno = p.meno
""")

# registrácia ako dočasná alebo trvalá SQL tabuľka
vysledok_join_df.createOrReplaceTempView("vysledok_join")
# ak používate katalóg s podporou ukladania, možno použiť aj saveAsTable("vysledok_join")

In [65]:
# Uloženie výsledkov ako CSV súbor
# Zapisuje sa do podpriečinkov vystup/vysledok_join_csv/part-*.csv – Spark rozdeľuje dáta paralelne.
vysledok_join_df.write\
    .option("header", True)\
    .mode("overwrite")\
    .csv("vystup/vysledok_join_csv")

## 4️⃣g Uloženie výsledkov do JSON a Parquet
**📌 Úloha:** Exportovať výstup SQL dopytu do formátov JSON a Parquet.

**✅ Výstupom bude:**
- Výpis do adresára ako JSON
- Výpis do adresára ako Parquet (optimalizovaný binárny formát)

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-data-sources-json.html
- https://spark.apache.org/docs/latest/sql-data-sources-parquet.html

In [66]:
# Uloženie výsledkov ako JSON
# Výsledok bude uložený ako množina .json súborov v zložke vystup/vysledok_join_json.

vysledok_join_df.write\
    .option("multiline", True)\
    .mode("overwrite")\
    .json("vystup/vysledok_join_json")

In [67]:
# Uloženie výsledkov ako Parquet
# Parquet je vysoko komprimovaný a efektívny pre analytické úlohy.
vysledok_join_df.write\
    .mode("overwrite")\
    .parquet("vystup/vysledok_join_parquet")

In [68]:
# Pre opakované čítanie možno použiť:
# načítanie JSON
df_json = spark.read.json("vystup/vysledok_join_json")

# načítanie Parquet
df_parquet = spark.read.parquet("vystup/vysledok_join_parquet")
df_parquet

DataFrame[meno: string, mesto: string, nazov_projektu: string, datum_startu: string]

## 4️⃣h Uloženie Spark DataFrame do Excelu
**📌 Úloha:** Exportovať výsledný Spark DataFrame do Excel súboru pomocou Pandas.

**✅ Výstupom bude:**
- Súbor vysledok_join.xlsx vo vašom pracovnom adresári.

**🔗 Dokumentácia:**
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html
- https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.toPandas.html

In [72]:
#!pip install openpyxl
# Uloženie do Excelu pomocou pandas
import pandas as pd
import openpyxl

# Konverzia Spark DataFrame na Pandas DataFrame
pandas_df = vysledok_join_df.toPandas()

# Uloženie do Excelu
pandas_df.to_excel("vystup/vysledok_join.xlsx", index=False, engine='openpyxl')

## 4️⃣i Načítanie údajov z Excelu späť do Spark DataFrame
**📌 Úloha:** Importovať údaje zo súboru vysledok_join.xlsx do Spark DataFrame.

**✅ Výstupom bude:**
- Nový Spark DataFrame novy_df načítaný zo súboru Excel
- Zobrazenie jeho schémy a obsahu

**🔗 Dokumentácia:**
- https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
- https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.createDataFrame.html

In [73]:
#  Tento prístup je vhodný pre menšie až stredne veľké dáta (napr. < 1 milión riadkov), pretože toPandas() aj createDataFrame() prenášajú dáta medzi Spark a Pandas (driver pamäť).

import pandas as pd

# Načítanie údajov z Excelu do pandas DataFrame
df_excel = pd.read_excel("vystup/vysledok_join.xlsx", engine='openpyxl')

# Konverzia pandas DataFrame do Spark DataFrame
novy_df = spark.createDataFrame(df_excel)

# Zobrazenie schémy a dát
novy_df.printSchema()
novy_df.show(5)

root
 |-- meno: string (nullable = true)
 |-- mesto: string (nullable = true)
 |-- nazov_projektu: string (nullable = true)
 |-- datum_startu: string (nullable = true)

+------+----------+--------------+------------+
|  meno|     mesto|nazov_projektu|datum_startu|
+------+----------+--------------+------------+
|   Eva|    Prešov|     Projekt C|  2024-02-20|
|  Anna|Bratislava|     Projekt A|  2024-01-15|
|   Ján|    Košice|     Projekt B|  2023-11-10|
|Zuzana|    Žilina|     Projekt E|  2023-09-01|
| Marek|Bratislava|     Projekt D|  2024-03-05|
+------+----------+--------------+------------+
only showing top 5 rows

## 4️⃣j Export Spark DataFrame do databázy (PostgreSQL / MySQL)
**📌 Úloha:** Uložiť Spark DataFrame do SQL databázy cez JDBC konektor.

**✅ Výstupom bude:**
- Export dát do tabuľky zamestnanci_export v PostgreSQL alebo MySQL
- Potvrdenie, že export prebehol úspešne

**🔗 Dokumentácia:**
- https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html
- https://www.postgresql.org/ | https://dev.mysql.com/

In [3]:
# 📤 Príklad: Export do PostgreSQL
# !pip install jaydebeapi
from pyspark.sql import SparkSession
import jaydebeapi

spark = SparkSession.builder \
    .appName("Export do PostgreSQL") \
    .config("spark.jars", "/data/notebook_files/jars/postgresql-42.6.0.jar") \
    .getOrCreate()

# Parametre pripojenia
url = "jdbc:postgresql://localhost:5432/mojadb"
properties = {
    "user": "postgres",
    "password": "tajneheslo",
    "driver": "org.postgresql.Driver"
}

# Export DataFrame do PostgreSQL
df.write.jdbc(
    url=url,
    table="zamestnanci_export",
    mode="overwrite",  # alebo "append"
    properties=properties
)

25/06/11 20:07:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

NameError: NameError: name 'df' is not defined

In [4]:
# Použitie Maven balíčka (odporúčané)
spark = SparkSession.builder \
    .appName("Export do PostgreSQL") \
    .config("spark.jars.packages", "org.postgresql:postgresql:42.6.0") \
    .getOrCreate()

print(spark._jvm.java.lang.Class.forName("org.postgresql.Driver"))

25/06/11 20:07:50 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Py4JJavaError: Py4JJavaError: An error occurred while calling z:java.lang.Class.forName.
: java.lang.ClassNotFoundException: org.postgresql.Driver
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:641)
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:188)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	at java.base/java.lang.Class.forName0(Native Method)
	at java.base/java.lang.Class.forName(Class.java:375)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [5]:
# Použitie lokálneho súboru .jar
spark = SparkSession.builder \
    .appName("Export do PostgreSQL") \
    .config("spark.jars", "/data/notebook_files/jars/postgresql-42.6.0.jar") \
    .getOrCreate()

print(spark._jvm.java.lang.Class.forName("org.postgresql.Driver"))

Py4JJavaError: Py4JJavaError: An error occurred while calling z:java.lang.Class.forName.
: java.lang.ClassNotFoundException: org.postgresql.Driver
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:641)
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:188)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	at java.base/java.lang.Class.forName0(Native Method)
	at java.base/java.lang.Class.forName(Class.java:375)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [75]:
# 📤 Príklad: Export do MySQL
url = "jdbc:mysql://localhost:3306/mojadb"
properties = {
    "user": "root",
    "password": "tajneheslo",
    "driver": "com.mysql.cj.jdbc.Driver"
}

df.write.jdbc(
    url=url,
    table="zamestnanci_export",
    mode="overwrite",
    properties=properties
)

Py4JJavaError: Py4JJavaError: An error occurred while calling o2009.jdbc.
: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:592)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)